In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.18)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (4.12.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2024.6.2)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: exceptiongroup in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.1)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.7)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.22)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [47]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [48]:
driver = webdriver.Chrome()

In [49]:

driver.get( "https://www.olx.in/pune_g4059014/for-sale-houses-apartments_c1725")

In [50]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH, '//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
    
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [51]:
len(property_Name),len(Type),len(prices),len(years)

(40, 40, 40, 40)

In [52]:
import pandas as pd 
df1 = pd.DataFrame({'Name':property_Name,'Types':Type,'Prices':prices,'Years':years})
df1

,Name,Types,Prices,Years
0,"MARKET YARD, PUNE",2 Bds - 2 Ba - 1186 ft2,"₹ 62,50,006",MAY 24
1,"CANTONMENT RESIDENTIAL AREA, PUNE",2 Bds - 2 Ba - 1186 ft2,"₹ 63,00,001",MAY 24
2,"YERWADA, PUNE",1 Bds - 2 Ba - 1000 ft2,"₹ 18,00,000",TODAY
3,"YERWADA, PUNE",1 Bds - 1 Ba - 350 ft2,"₹ 18,00,000",TODAY
4,"VISHRANT WADI, PUNE",1 Bds - 1 Ba - 719 ft2,"₹ 23,00,000",TODAY
5,"DECCAN, PUNE",2 Bds - 2 Ba - 1148 ft2,"₹ 1,25,46,000",TODAY
6,"CANTONMENT RESIDENTIAL AREA, PUNE",1 Bds - 1 Ba - 530 ft2,"₹ 38,00,000",TODAY
7,"KOREGAON PARK, PUNE",4+ Bds - 4+ Ba - 6000 ft2,"₹ 16,00,00,000",TODAY
8,"KALYANI NAGAR, PUNE",4 Bds - 4+ Ba - 2700 ft2,"₹ 7,00,00,000",TODAY
9,"KOREGAON PARK, PUNE",3 Bds - 3 Ba - 1610 ft2,"₹ 2,25,00,000",TODAY
10,"KALYANI NAGAR, PUNE",2 Bds - 2 Ba - 1100 ft2,"₹ 32,50,000",TODAY
11,"KOREGAON PARK, PUNE",1 Bds - 1 Ba - 850 ft2,"₹ 25,00,000",TODAY
12,"PRATIK NAGAR, PUNE",2 Bds - 2 Ba - 1100 ft2,"₹ 1,30,00,000",TODAY
13,"CANTONMENT RESIDENTIAL AREA, PUNE",2 Bds - 2 Ba - 1100 ft2,"₹ 95,00,000",TODAY
14,"KOREGAON PARK, PUNE",1 Bds - 1 Ba - 490 ft2,"₹ 62,00,000",TODAY
15,"KOREGAON PARK, PUNE",1 Bds - 1 Ba - 450 ft2,"₹ 60,00,000",TODAY
16,"KALYANI NAGAR, PUNE",2 Bds - 2 Ba - 1000 ft2,"₹ 1,10,00,000",TODAY
17,"VISHRANT WADI, PUNE",2 Bds - 2 Ba - 1100 ft2,"₹ 32,20,000",TODAY
18,"VISHRANT WADI, PUNE",2 Bds - 2 Ba - 1701 ft2,"₹ 35,00,000",TODAY
19,"KOTHRUD MAYUR COLONY, PUNE",2 Bds - 2 Ba - 944 ft2,"₹ 60,00,000",TODAY
20,"BHAWANI PETH, PUNE",2 Bds - 2 Ba - 1100 ft2,"₹ 61,00,000",YESTERDAY
21,"VISHRANT WADI, PUNE",2 Bds - 2 Ba - 1100 ft2,"₹ 32,00,000",YESTERDAY
22,"KALYANI NAGAR, PUNE",2 Bds - 2 Ba - 1000 ft2,"₹ 1,05,00,000",YESTERDAY
23,"DATTAWADI, PUNE",1 Bds - 1 Ba - 626 ft2,"₹ 42,00,000",YESTERDAY
24,"SWARGATE, PUNE",1 Bds - 1 Ba - 626 ft2,"₹ 42,00,000",YESTERDAY
25,"DECCAN, PUNE",2 Bds - 2 Ba - 928 ft2,"₹ 61,00,000",YESTERDAY
26,"KASBA PETH, PUNE",1 Bds - 1 Ba - 510 ft2,"₹ 43,00,000",2 DAYS AGO
27,"PUNE CANTONMENT, PUNE",2 Bds - 2 Ba - 951 ft2,"₹ 61,00,000",2 DAYS AGO
28,"MARKET YARD, PUNE",2 Bds - 2 Ba - 1118 ft2,"₹ 68,00,002",3 DAYS AGO
29,"KALYANI NAGAR, PUNE",2 Bds - 2 Ba - 1800 ft2,"₹ 1,50,00,000",3 DAYS AGO
30,"CANTONMENT RESIDENTIAL AREA, PUNE",2 Bds - 2 Ba - 1118 ft2,"₹ 63,00,007",3 DAYS AGO
31,"ERANDWANE, PUNE",3 Bds - 3 Ba - 1600 ft2,"₹ 2,75,00,000",3 DAYS AGO
32,"DATTAWADI, PUNE",1 Bds - 1 Ba - 315 ft2,"₹ 11,40,000",3 DAYS AGO
33,"SHASTRI NAGAR, PUNE",1 Bds - 1 Ba - 509 ft2,"₹ 7,50,000",3 DAYS AGO
34,"KALYANI NAGAR, PUNE",3 Bds - 3 Ba - 2065 ft2,"₹ 2,40,00,000",3 DAYS AGO
35,"KIRKEE, PUNE",1 Bds - 1 Ba - 438 ft2,"₹ 8,90,000",3 DAYS AGO
36,"KALYANI NAGAR, PUNE",1 Bds - 1 Ba - 645 ft2,"₹ 72,00,000",3 DAYS AGO
37,"KALYANI NAGAR, PUNE",2 Bds - 2 Ba - 950 ft2,"₹ 1,15,00,000",3 DAYS AGO
38,"KALYANI NAGAR, PUNE",3 Bds - 3 Ba - 2000 ft2,"₹ 2,85,00,000",3 DAYS AGO
39,"KHADKI, PUNE",1 Bds - 1 Ba - 760 ft2,"₹ 50,00,000",3 DAYS AGO

In [53]:
driver = webdriver.Chrome()

In [59]:
driver.get( "https://www.olx.in/mumbai_g4058997/for-sale-houses-apartments_c1725")

In [60]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
    
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [61]:
len(property_Name),len(Type),len(prices),len(years)

(40, 39, 40, 40)

In [62]:
import pandas as pd 
df = pd.DataFrame({'Name':property_Name,'Prices':prices,'Years':years})
df

                       Name         Prices       Years
0           DHARAVI, MUMBAI     ₹ 5,00,000      JUN 05
1        KURLA EAST, MUMBAI    ₹ 62,00,000  3 DAYS AGO
2         SION EAST, MUMBAI  ₹ 1,60,00,000      MAY 28
3   VILE PARLE WEST, MUMBAI  ₹ 1,10,00,000       TODAY
4             MAHIM, MUMBAI    ₹ 45,00,000       TODAY
5        KURLA EAST, MUMBAI    ₹ 78,00,000       TODAY
6        KURLA EAST, MUMBAI    ₹ 75,00,000       TODAY
7       BANDRA WEST, MUMBAI    ₹ 28,00,000       TODAY
8           CHEMBUR, MUMBAI    ₹ 90,00,000       TODAY
9        KURLA EAST, MUMBAI    ₹ 85,00,000       TODAY
10       KURLA EAST, MUMBAI    ₹ 89,11,250       TODAY
11       KURLA EAST, MUMBAI    ₹ 83,00,000       TODAY
12       KURLA EAST, MUMBAI    ₹ 84,24,000       TODAY
13       KURLA EAST, MUMBAI    ₹ 87,00,000       TODAY
14       KURLA EAST, MUMBAI    ₹ 86,50,000       TODAY
15       KURLA EAST, MUMBAI  ₹ 1,16,00,000       TODAY
16       KURLA EAST, MUMBAI  ₹ 1,25,00,000       TODAY
17       KURLA EAST, MUMBAI  ₹ 1,21,00,000       TODAY
18       KURLA WEST, MUMBAI    ₹ 45,00,000       TODAY
19       KURLA WEST, MUMBAI    ₹ 45,00,000       TODAY
20       KURLA WEST, MUMBAI    ₹ 26,00,000      MAY 19
21       KURLA WEST, MUMBAI  ₹ 1,30,00,000      MAY 24
22          CHEMBUR, MUMBAI    ₹ 26,00,000   YESTERDAY
23       KURLA EAST, MUMBAI    ₹ 41,00,000       TODAY
24          CHEMBUR, MUMBAI    ₹ 65,00,000       TODAY
25      CHUNABHATTI, MUMBAI    ₹ 42,00,000       TODAY
26           KALINA, MUMBAI  ₹ 1,90,00,000       TODAY
27          CHEMBUR, MUMBAI  ₹ 1,47,00,000       TODAY
28      CHUNABHATTI, MUMBAI  ₹ 2,25,00,000   YESTERDAY
29       KURLA EAST, MUMBAI  ₹ 1,10,00,000   YESTERDAY
30       KURLA WEST, MUMBAI  ₹ 1,25,00,000   YESTERDAY
31          CHEMBUR, MUMBAI    ₹ 95,00,000   YESTERDAY
32  VILE PARLE WEST, MUMBAI  ₹ 2,78,10,000   YESTERDAY
33          CHEMBUR, MUMBAI    ₹ 88,00,000   YESTERDAY
34       NEHRU ROAD, MUMBAI  ₹ 2,80,00,000   YESTERDAY
35      BANDRA WEST, MUMBAI  ₹ 3,25,00,000   YESTERDAY
36       DADAR WEST, MUMBAI    ₹ 67,50,000   YESTERDAY
37          CHEMBUR, MUMBAI  ₹ 4,31,45,685   YESTERDAY
38            MAHIM, MUMBAI  ₹ 3,10,00,000   YESTERDAY
39  VILE PARLE EAST, MUMBAI    ₹ 58,00,000   YESTERDAY

In [63]:
import pandas as pd 
df2 = pd.DataFrame({'Type':Type})
df2

                         Type
0      1 Bds - 1 Ba - 250 ft2
1      2 Bds - 2 Ba - 900 ft2
2      1 Bds - 1 Ba - 300 ft2
3      1 Bds - 2 Ba - 250 ft2
4      1 Bds - 2 Ba - 680 ft2
5      1 Bds - 2 Ba - 650 ft2
6      1 Bds - 2 Ba - 570 ft2
7      1 Bds - 2 Ba - 670 ft2
8      1 Bds - 2 Ba - 650 ft2
9      1 Bds - 2 Ba - 750 ft2
10     1 Bds - 2 Ba - 700 ft2
11     1 Bds - 2 Ba - 710 ft2
12     1 Bds - 2 Ba - 455 ft2
13     1 Bds - 2 Ba - 725 ft2
14     2 Bds - 2 Ba - 598 ft2
15    2 Bds - 2 Ba - 1090 ft2
16    2 Bds - 2 Ba - 1050 ft2
17     2 Bds - 2 Ba - 945 ft2
18     2 Bds - 2 Ba - 500 ft2
19     1 Bds - 1 Ba - 575 ft2
20     1 Bds - 2 Ba - 540 ft2
21     1 Bds - 1 Ba - 305 ft2
22     1 Bds - 1 Ba - 634 ft2
23    4 Bds - 4 Ba - 1600 ft2
24     1 Bds - 1 Ba - 750 ft2
25     2 Bds - 2 Ba - 800 ft2
26     2 Bds - 2 Ba - 800 ft2
27  4+ Bds - 4+ Ba - 2700 ft2
28     1 Bds - 2 Ba - 710 ft2
29     1 Bds - 2 Ba - 661 ft2
30    3 Bds - 3 Ba - 1600 ft2
31     1 Bds - 1 Ba - 701 ft2
32     1 Bds - 2 Ba - 630 ft2
33     2 Bds - 2 Ba - 715 ft2
34     2 Bds - 1 Ba - 750 ft2
35     1 Bds - 2 Ba - 550 ft2
36    4 Bds - 2 Ba - 2552 ft2
37     2 Bds - 3 Ba - 700 ft2
38     3 Bds - 2 Ba - 957 ft2

In [53]:
data_frames = [df1, df2]

for i, df in enumerate(data_frames):
    print(f"DataFrame {i+1}:")
    print(df)
    print("\n")

DataFrame 1:
                            Name         Prices      Years
0              SION EAST, MUMBAI  ₹ 1,60,00,000     MAY 28
1             KURLA WEST, MUMBAI  ₹ 1,30,00,000     MAY 24
2              KHAR EAST, MUMBAI    ₹ 25,00,000     JUN 06
3                CHEMBUR, MUMBAI    ₹ 99,00,000      TODAY
4            BANDRA WEST, MUMBAI  ₹ 2,95,00,000      TODAY
5             KURLA EAST, MUMBAI    ₹ 85,00,000      TODAY
6             KURLA EAST, MUMBAI    ₹ 89,11,250      TODAY
7             KURLA EAST, MUMBAI    ₹ 83,00,000      TODAY
8             KURLA EAST, MUMBAI    ₹ 84,24,000      TODAY
9             KURLA EAST, MUMBAI    ₹ 87,00,000      TODAY
10            KURLA EAST, MUMBAI    ₹ 86,50,000      TODAY
11            KURLA EAST, MUMBAI  ₹ 1,16,00,000      TODAY
12            KURLA EAST, MUMBAI  ₹ 1,25,00,000      TODAY
13            KURLA EAST, MUMBAI  ₹ 1,21,00,000      TODAY
14            UNION PARK, MUMBAI    ₹ 18,00,000      TODAY
15            KURLA WEST, MUMBAI  ₹ 1,25,00,000      TODAY
16            KURLA EAST, MUMBAI  ₹ 1,10,00,000      TODAY
17        SANTACRUZ WEST, MUMBAI  ₹ 7,10,00,000      TODAY
18            DADAR EAST, MUMBAI    ₹ 70,50,000  YESTERDAY
19             SION EAST, MUMBAI    ₹ 59,90,000  YESTERDAY
20           BANDRA EAST, MUMBAI    ₹ 90,00,000     MAY 25
21            DADAR EAST, MUMBAI    ₹ 44,00,000     JUN 06
22           BANDRA EAST, MUMBAI  ₹ 2,00,00,000     MAY 28
23               CHEMBUR, MUMBAI  ₹ 2,49,00,000  YESTERDAY
24           BANDRA WEST, MUMBAI  ₹ 3,49,00,000  YESTERDAY
25            DADAR EAST, MUMBAI  ₹ 1,53,45,500  YESTERDAY
26               CHEMBUR, MUMBAI  ₹ 4,31,45,685  YESTERDAY
27            DADAR EAST, MUMBAI    ₹ 98,70,000  YESTERDAY
28               CHEMBUR, MUMBAI    ₹ 15,00,000  YESTERDAY
29            DADAR WEST, MUMBAI    ₹ 30,00,000  YESTERDAY
30               CHEMBUR, MUMBAI    ₹ 51,00,000  YESTERDAY
31           BANDRA WEST, MUMBAI    ₹ 35,00,000  YESTERDAY
32               CHEMBUR, MUMBAI    ₹ 38,00,000  YESTERDAY
33        SANTACRUZ EAST, MUMBAI  ₹ 1,00,88,000  YESTERDAY
34            KURLA WEST, MUMBAI    ₹ 82,00,000  YESTERDAY
35  BANDRA KURLA COMPLEX, MUMBAI  ₹ 1,83,00,000  YESTERDAY
36  BANDRA KURLA COMPLEX, MUMBAI  ₹ 2,25,00,000  YESTERDAY
37  BANDRA KURLA COMPLEX, MUMBAI  ₹ 1,21,00,000  YESTERDAY
38            KURLA EAST, MUMBAI  ₹ 1,42,00,000  YESTERDAY
39            KURLA EAST, MUMBAI  ₹ 1,68,50,000  YESTERDAY


DataFrame 2:
                       Type
0    2 Bds - 2 Ba - 900 ft2
1    1 Bds - 2 Ba - 540 ft2
2    1 Bds - 1 Ba - 250 ft2
3    1 Bds - 2 Ba - 650 ft2
4    2 Bds - 2 Ba - 740 ft2
5    1 Bds - 2 Ba - 650 ft2
6    1 Bds - 2 Ba - 750 ft2
7    1 Bds - 2 Ba - 700 ft2
8    1 Bds - 2 Ba - 710 ft2
9    1 Bds - 2 Ba - 455 ft2
10   1 Bds - 2 Ba - 725 ft2
11   2 Bds - 2 Ba - 598 ft2
12  2 Bds - 2 Ba - 1090 ft2
13  2 Bds - 2 Ba - 1050 ft2
14   1 Bds - 1 Ba - 250 ft2
15   1 Bds - 2 Ba - 661 ft2
16   1 Bds - 2 Ba - 710 ft2
17  4 Bds - 4 Ba - 1314 ft2
18   1 Bds - 1 Ba - 550 ft2
19   1 Bds - 1 Ba - 450 ft2
20   1 Bds - 2 Ba - 560 ft2
21   1 Bds - 2 Ba - 350 ft2
22   2 Bds - 2 Ba - 750 ft2
23  3 Bds - 3 Ba - 1500 ft2
24  2 Bds - 3 Ba - 1200 ft2
25   2 Bds - 2 Ba - 750 ft2
26  4 Bds - 2 Ba - 2552 ft2
27   1 Bds - 2 Ba - 550 ft2
28   1 Bds - 1 Ba - 180 ft2
29  1 Bds - 1 Ba - 1004 ft2
30  3 Bds - 3 Ba - 1111 ft2
31   2 Bds - 2 Ba - 790 ft2
32   2 Bds - 2 Ba - 795 ft2
33   2 Bds - 2 Ba - 894 ft2
34   1 Bds - 2 Ba - 510 ft2
35  2 Bds - 2 Ba - 1040 ft2
36  2 Bds - 2 Ba - 1150 ft2
37   1 Bds - 2 Ba - 551 ft2
38   2 Bds - 2 Ba - 910 ft2
39  2 Bds - 2 Ba - 1050 ft2

In [64]:
driver.get( "https://www.olx.in/tamil-nadu_g2001173/for-sale-houses-apartments_c1725")

In [65]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
Bhk_type =[]
bhk_tags = driver.find_elements(By.XPATH,'//span[@class="_2poNJ"]')
for tag in bhk_tags:
    Bhk_type.append(tag.text)
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [59]:
len(property_Name),len(Type),len(prices),len(years),len(Bhk_type)

(40, 40, 40, 40, 40)

In [60]:
import pandas as pd 
df2 = pd.DataFrame({'Name':property_Name,'Types':Type,'Prices':prices,'BHK':Bhk_type,'Years':years})
df2

,Name,Types,Prices,BHK,Years
0,"NUNGAMBAKKAM, CHENNAI",3 Bds - 2 Ba - 1244 ft2,"₹ 83,70,000",flat that grant lifetim access: perfect weeken...,MAY 21
1,"ADAMBAKKAM, CHENNAI",3 Bds - 2 Ba - 1250 ft2,"₹ 95,00,000","1250 Sqft 3 BHK ADAMBAKKAM EB COLONY, 1ST FLOO...",JUN 08
2,"THANTHONI MALAI, KARUR",3 Bds - 4 Ba - 1750 ft2,"₹ 60,00,000",New duplex house sales in RTO office karur,JUN 01
3,"KOVILPALAYAM, COIMBATORE",2 Bds - 2 Ba - 1075 ft2,"₹ 29,00,000",2BHK House 29 Lakhs Only,TODAY
4,"MADHAVARAM, CHENNAI",3 Bds - 3 Ba - 1350 ft2,"₹ 6,53,12,111",Premium specious 3 bhk @ near metro madvaram,TODAY
5,"MEDAVAKKAM, CHENNAI",2 Bds - 2 Ba - 982 ft2,"₹ 45,00,000","Ready to move Flat For Sale in Medavakkam, Che...",TODAY
6,"KOVILAMBAKKAM KOVILAMBAKKAM, CHENNAI",2 Bds - 2 Ba - 758 ft2,"₹ 42,00,000",2BHK Flat for sale @ Kovilambakkam,TODAY
7,"MUNEESWARI NAGAR, HOSUR",2 Bds - 2 Ba - 1500 ft2,"₹ 95,50,000",Abdul kalam nagar House construction & sale,TODAY
8,"KCC NAGAR, HOSUR",2 Bds - 2 Ba - 1200 ft2,"₹ 66,50,000",Kcc nagr backside House construction & sale,TODAY
9,"TAMBARAM, CHENNAI",2 Bds - 3 Ba - 800 ft2,"₹ 50,00,000",Villa plot in Tambaram,TODAY
10,"NEW WASHERMANPET ASHOK NAGAR, CHENNAI",3 Bds - 3 Ba - 1624 ft2,"₹ 1,10,43,200",Brand New flat,TODAY
11,"VEPPAMPATTU, CHENNAI",2 Bds - 2 Ba - 900 ft2,"₹ 27,00,000",2bhk individual house sale at Chennai veppampattu,TODAY
12,"GANAPATHI NAGAR, NEMILI",2 Bds - 2 Ba - 600 ft2,"₹ 50,00,000",Sale for house 22*27 & 4400 sqft empty land Ne...,TODAY
13,"VEPPAMPATTU, CHENNAI",2 Bds - 2 Ba - 1100 ft2,"₹ 33,00,000",2bhk individual house sale at Chennai veppampattu,TODAY
14,"SRIPERUMBUDUR, SRIPERUMBUDUR",1 Bds - 2 Ba - 600 ft2,"₹ 24,00,000",Villa plot in Sriperumbudur,TODAY
15,"VEPPAMPATTU, CHENNAI",2 Bds - 2 Ba - 1300 ft2,"₹ 36,00,000",2bhk individual house sale at Chennai veppampattu,TODAY
16,"KONAM, NAGERCOIL",4+ Bds - 4+ Ba - 3200 ft2,"₹ 1,35,00,000","New House for Sale in Pambanvilai, Nagercoil",TODAY
17,"VEPPAMPATTU, CHENNAI",2 Bds - 3 Ba - 1200 ft2,"₹ 35,00,000",2bhk individual house sale at Chennai veppampattu,TODAY
18,"VEPPAMPATTU, CHENNAI",2 Bds - 2 Ba - 1200 ft2,"₹ 34,99,999",2bhk individual house sale at Chennai veppampattu,TODAY
19,"SEVVAPET, CHENNAI",2 Bds - 2 Ba - 702 ft2,"₹ 25,50,000",Individual Houses for sales Near Railway Stati...,MAY 27
20,"ANNA NAGAR, KINATHUKADAVU",2 Bds - 2 Ba - 750 ft2,"₹ 29,00,000",2BHK 29Lacs @ pollachi Road Kinathukadavu,MAY 18
21,"MAHA LAKSHMI NAGAR, NANDIVARAM-GUDUVANCHERI",2 Bds - 2 Ba - 900 ft2,"₹ 81,00,000","2bhk villa for sale, Guduvanchery, mahalakshmi...",JUN 03
22,"MASAKALI PALAYAM, COIMBATORE",4 Bds - 4 Ba - 2000 ft2,"₹ 2,50,00,000",Near Trichy Road,TODAY
23,"THIRUMAZHISAI, CHENNAI",3 Bds - 3 Ba - 1300 ft2,"₹ 68,60,000",3 BHK villa @ Near Thirumazhisai,TODAY
24,"PONNERI, PONNERI",4 Bds - 4 Ba - 1400 ft2,"₹ 57,47,000",Luxury villas @ Ponneri,TODAY
25,"MADHAVARAM, CHENNAI",2 Bds - 3 Ba - 1050 ft2,"₹ 52,00,000",Residential villa,TODAY
26,"MADHAVARAM, CHENNAI",2 Bds - 3 Ba - 1050 ft2,"₹ 50,00,000",Ready to occupy villa,TODAY
27,"VEPPAMPATTU, CHENNAI",2 Bds - 2 Ba - 800 ft2,"₹ 31,99,999",House sale Veppampattu near railway station,TODAY
28,"VEPPAMPATTU, CHENNAI",2 Bds - 2 Ba - 1220 ft2,"₹ 33,99,999",2 bhk House sales near chennai Veppampattu rai...,TODAY
29,"NANMANGALAM BALRAM NAGAR, CHENNAI",2 Bds - 2 Ba - 588 ft2,"₹ 25,50,000",2bhk for sale,TODAY
30,"VEPPAMPATTU, CHENNAI",2 Bds - 2 Ba - 920 ft2,"₹ 28,28,000",Individual 2- BHK House sale in near Thirunind...,TODAY
31,"URAPAKKAM, CHENNAI",3 Bds - 3 Ba - 1000 ft2,"₹ 67,00,000",Selling for 3bhk villa sale at Guduvanchery,TODAY
32,"PEELAMEDU, COIMBATORE",2 Bds - 2 Ba - 820 ft2,"₹ 50,00,000",1 bhk & 2 bhk,TODAY
33,"AVINASHI ROAD KMCH, COIMBATORE",2 Bds - 2 Ba - 867 ft2,"₹ 50,00,000",1 & 2 BHK APARTMENTS,TODAY
34,"DHENADAYALU NAGAR, THIRUVERUMBUR",2 Bds - 2 Ba - 1200 ft2,"₹ 45,00,000",2 BHK SEMI FURNISHED HOME FOR SALE,TODAY
35,"KK NAGAR, TIRUCHIRAPPALLI",3 Bds - 2 Ba - 1800 ft2,"₹ 1,10,00,000",North West facing 3 BHK HOME AND COMMERCIAL shop,TODAY
36,"KHIRANUR, KEERANUR PUDUKKOTTAI DISTRICT",2 Bds - 2 Ba - 650 ft2,"₹ 27,00,000",West facing 2 BHK HOME FOR SALE,TODAY
37,"RSK NAGAR, THUVAKUDI",2 Bds - 2 Ba - 650 ft2,"₹ 18,00,000",North facing home for sale,TODAY
38,"TRICHY CITY, TIRUCHIRAPPALLI",2 Bds - 2 Ba - 890 ft2,"₹ 45,00,000",South facing home for sale in mathur,TODAY
39,"SINGANALLUR, COIMBATORE",2 Bds - 2 Ba - 1208 ft2,"₹ 55,00,000","2 BHK flat for sale at Coimbatore , Ramanathap...",2 DAYS AGO

In [65]:
driver.get( "https://www.olx.in/gujarat_g2001154/for-sale-houses-apartments_c1725")

In [70]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
Bhk_type =[]
bhk_tags = driver.find_elements(By.XPATH,'//span[@class="_2poNJ"]')
for tag in bhk_tags:
    Bhk_type.append(tag.text)
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [71]:
len(property_Name),len(Type),len(prices),len(years),len(Bhk_type)

(40, 39, 40, 40, 40)

In [72]:
import pandas as pd 
df3 = pd.DataFrame({'Name':property_Name,'Prices':prices,'BHK':Bhk_type,'Years':years})
df3

,Name,Prices,BHK,Years
0,"ASHRAM ROAD, AHMEDABAD","₹ 72,00,000",Luxurious Fully Furnished 2BHK for Sale,APR 03
1,"ZADESHWAR, BHARUCH","₹ 29,00,000",2BHK Appartment,MAY 21
2,"GAURAVPATH ROAD, SURAT","₹ 41,82,000",PAY ONLY 30% DP 2BHK NR. DREAM FESTIVA RESTAURANT,JUN 07
3,"THALTEJ, AHMEDABAD","₹ 5,30,00,000",Available 4 Bhk Well Maintain Fully Furnished ...,TODAY
4,"JAGATPUR, AHMEDABAD","₹ 77,00,000",Kitchen Fix 3 Bhk Flat Available For Sell In J...,TODAY
5,"RANGDARSHAN SOCIETY, SURAT","₹ 55,00,000",Sell my fllet on vesu,TODAY
6,"ANAND VIDYANAGAR ROAD, ANAND","₹ 15,00,000","Prime Location, Road Touch Property",TODAY
7,"NIKOL, AHMEDABAD","₹ 45,00,000",Shree Gopinath heights,TODAY
8,"UDHNA, SURAT","₹ 60,00,000",Gala type home for sale,TODAY
9,"GUNATIT NAGAR, RAJKOT","₹ 25,00,000","1 bhk, road touch",TODAY
10,"GADKHOL, ANKLESVAR","₹ 75,00,000",SAMRAJYA SOCIETY GADHKHOL PATIYA ANKLESHWAR,TODAY
11,"SHELA, AHMEDABAD","₹ 6,51,00,000",Available 5 Bhk Well Maintain Fully Furnished ...,TODAY
12,"JAM NAGAR, JAMNAGAR","₹ 32,50,000",House for sale,TODAY
13,"MAKARBA, AHMEDABAD","₹ 57,00,000","2BHK semi furnished flat, on very good location",TODAY
14,"JASODA NAGAR, AHMEDABAD","₹ 75,00,000",2 BHK krishna Bunglows Individual Bunglows For...,TODAY
15,"CHHANI, VADODARA","₹ 17,50,000",Shrinathji height,TODAY
16,"ASHIRWAD NAGAR, VADODARA","₹ 41,00,000",Officer choice for house,TODAY
17,"CHANDKHEDA, AHMEDABAD","₹ 1,50,00,000",Semi Furnished 3 Bhk Penthouse For Sell In Tragad,TODAY
18,"VAISHNO DEVI, AHMEDABAD","₹ 4,75,00,000",Well Maintain Fully Furnished 4 Bhk Flat For R...,TODAY
19,"VESU, SURAT","₹ 31,00,000","1 BHK Flat Sell In Althan, High Rise Building.",TODAY
20,"VESU, SURAT","₹ 65,00,000",SALASAR SUN SARVAM 2BHK FLATS FOR SALE,JUN 07
21,"ANKLESHWAR GIDC, ANKLESVAR","₹ 33,00,000",4BHK 3 Floor Construction Row House Available ...,MAY 22
22,"ANKLESHWAR GIDC, ANKLESVAR","₹ 25,51,000",2BHK Varni Homes,JUN 09
23,"NEW CITYLIGHT, SURAT","₹ 2,00,00,000","5 BHK New Bungalow Sell New Citylight,Surat",TODAY
24,"JAGATPUR, AHMEDABAD","₹ 35,00,000",Well Maintain Fully Furnished 1 Bhk Flat For R...,TODAY
25,"GOTA, AHMEDABAD","₹ 55,00,000",Well Maintain Fully Furnished 2 Bhk Flat For S...,TODAY
26,"ZADESHWAR, BHARUCH","₹ 30,50,000",2 BHK Flat for sale at Zadeshwar,TODAY
27,"CHOKHANDI, VADODARA","₹ 18,50,000",Kamu bala hall nr khodiyar temple ghadiyapol V...,TODAY
28,"NAVRANGPURA, AHMEDABAD","₹ 1,65,00,000",Antillia Anant New Project Navrang pura Shastr...,TODAY
29,"BOPAL, AHMEDABAD","₹ 1,08,00,000",Silver spring,TODAY
30,"MADHRA NAGAR, SURAT","₹ 24,00,000",Dinesh Bhai goswami,TODAY
31,"MADHURAM, JUNAGADH","₹ 19,00,000",3 bh flat furnished - Wadala fatak,TODAY
32,"BHAT, AHMEDABAD","₹ 2,50,00,000",Well Maintain Fully Furnished 4 Bhk Bungalow F...,TODAY
33,"AMROLI, SURAT","₹ 12,00,000",Divay mol ni bajuma amroli,TODAY
34,"PURUSHOTTAM PARK, VADODARA","₹ 24,00,000",Urgent sell,TODAY
35,"SHELA, AHMEDABAD","₹ 50,00,000",Available 2 BHK Semi Furnished Flat Sale In Shela,TODAY
36,"BHADKODARA, ANKLESVAR","₹ 20,00,000",Two floor 1room kitchen for sale in Sundervan ...,TODAY
37,"CHANDKHEDA, AHMEDABAD","₹ 57,00,000",Well Maintain Fully Furnished 2 Bhk Flat For S...,TODAY
38,"CHANDKHEDA, AHMEDABAD","₹ 50,00,000",Well Maintain Fully Furnished 2 Bhk Flat For S...,TODAY
39,"TARSALI, VADODARA","₹ 19,50,000",Fully furnished 1bhk ready to move,TODAY

In [15]:
driver.get( "https://www.olx.in/jaipur_g4059123/for-sale-houses-apartments_c1725")

In [16]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
Bhk_type =[]
bhk_tags = driver.find_elements(By.XPATH,'//span[@class="_2poNJ"]')
for tag in bhk_tags:
    Bhk_type.append(tag.text)
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [17]:
len(property_Name),len(Type),len(prices),len(years),len(Bhk_type)

(40, 39, 40, 40, 40)

In [18]:
import pandas as pd 
df4= pd.DataFrame({'Name':property_Name,'Prices':prices,'BHK':Bhk_type,'Years':years})
df4

,Name,Prices,BHK,Years
0,"VAISHALI NAGAR, JAIPUR","₹ 32,00,000",2/3 bhk ultra luxury flat JDA&RERA Approved,7 DAYS AGO
1,"MANSAROVAR, JAIPUR","₹ 99,50,000",3bhk Duplex Villa prime location mansrover new...,JUN 13
2,"MANSAROVAR, JAIPUR","₹ 45,00,000","Basement , gayatri nagar, 162-A, NEAR JAIN MAN...",MAY 13
3,"VAISHALI NAGAR, JAIPUR","₹ 35,00,000",Vaishali Flat 2 BhkMultistoryBuilding Newly Co...,TODAY
4,"MANSAROVAR, JAIPUR","₹ 1,34,00,000",Super luxurious 4 bhk flats good location in M...,TODAY
5,"VAISHALI NAGAR, JAIPUR","₹ 95,00,000",Villa near teoler High school,TODAY
6,"VAISHALI NAGAR, JAIPUR","₹ 1,40,00,000",Vaishali 138 sq.yard Independent House Urgent ...,TODAY
7,"VAISHALI NAGAR, JAIPUR","₹ 40,00,000",For Sale 2 BHK Semi Furnished Flat,TODAY
8,"MANSAROVAR, JAIPUR","₹ 57,00,000",3 BHK OPPOSITE RAJAT PATH MANSAROVAR JDA APPRO...,TODAY
9,"MANSAROVAR, JAIPUR","₹ 48,00,000",NEAR MANSAROVAR METRO BIG SIZE 2 BHK FLAT WITH...,TODAY
10,"MANSAROVAR, JAIPUR","₹ 80,00,000",NEAR RAJAT PATH AT MAHARANI GARDEN ROAD MANSAR...,TODAY
11,"MANSAROVAR, JAIPUR","₹ 67,50,000",NEAR MANSAROVAR METRO PRIME LOCATION 3 BHK APA...,TODAY
12,"VAISHALI NAGAR, JAIPUR","₹ 23,50,000",2 bhk luxury flat for sale,TODAY
13,"VAISHALI NAGAR, JAIPUR","₹ 38,00,000",3bhk flat ready to move for sale,TODAY
14,"MANSAROVAR, JAIPUR","₹ 88,00,000",Luxury 3bhk flats 1588sqft Mansarover jaipur v...,TODAY
15,"C SCHEME, JAIPUR","₹ 3,30,00,000","Corner duplex@Hawa Sadak,Nandpuri,sodala",TODAY
16,"MANSAROVAR, JAIPUR","₹ 2,10,00,000",7bhk luxury bonglow shipra path,TODAY
17,"VAISHALI NAGAR, JAIPUR","₹ 23,50,000",2bhk luxury flat for sale,TODAY
18,"VAISHALI NAGAR, JAIPUR","₹ 28,90,000",2bhk luxury flat for sale vaishali estate,TODAY
19,"VAISHALI NAGAR, JAIPUR","₹ 38,00,000",3bhk luxury flat for sale,TODAY
20,"VAISHALI NAGAR, JAIPUR","₹ 29,00,000",2/3/4 Bhk Ready To Move Flats Rera Approved @V...,JAN 11
21,"VAISHALI NAGAR, JAIPUR","₹ 64,00,000",3bhk ultra luxury apartments modern look flat ...,YESTERDAY
22,"MANSAROVAR, JAIPUR","₹ 85,00,000",Villa near Hyatt Regency luxury hotel,JUN 08
23,"VAISHALI NAGAR, JAIPUR","₹ 45,00,000",3bhk luxury flat for sale,TODAY
24,"VAISHALI NAGAR, JAIPUR","₹ 23,50,000",2bhk flat for sale,TODAY
25,"MANSAROVAR, JAIPUR","₹ 1,02,00,000",NEAR MANSAROVAR METRO AT ENGINEERS COLONY SPAC...,TODAY
26,"MANSAROVAR, JAIPUR","₹ 67,50,000",AT MANSAROVAR METRO STATION 3 BHK SPACIOUS JDA...,TODAY
27,"MANSAROVAR, JAIPUR","₹ 57,00,000",OPPOSITE RAJAT PATH MANSAROVAR 3 BHK RESIDENTI...,TODAY
28,"MANSAROVAR, JAIPUR","₹ 48,00,000",NEAR MANSAROVAR METRO SPACIOUS 2 BHK APARTMENT...,TODAY
29,"MANSAROVAR, JAIPUR","₹ 80,00,000",OPPOSITE RAJATH PATH MANSAROVAR 4 BHK APARTMEN...,TODAY
30,"MALVIYA NAGAR, JAIPUR","₹ 85,00,000",Ground floor Flat + Shop for Sale Malviya nagar,TODAY
31,"MANSAROVAR, JAIPUR","₹ 93,00,000",OPPOSITE ST WILFRID 4 BHK APARTMENT FLAT WITH ...,TODAY
32,"MANSAROVAR, JAIPUR","₹ 80,00,000",BIG SIZE 4 BHK APARTMENT FLAT NEAR RAJAT PATH ...,TODAY
33,"MANSAROVAR, JAIPUR","₹ 75,00,000",NEAR CITY PARK AND DHANWANTARI HOSPITAL 3 BHK ...,TODAY
34,"MANSAROVAR, JAIPUR","₹ 65,00,000",NEAR VIJAY PATH MANSAROVAR 3 BHK 3 WASHROOM WI...,TODAY
35,"MANSAROVAR, JAIPUR","₹ 85,00,000",4 BHK APARTMENT FLAT FOR SALE AT ISKON ROAD MA...,TODAY
36,"MANSAROVAR, JAIPUR","₹ 63,00,000",NEAR MANSAROVAR METRO AT ENGINEERS COLONY 3 BH...,TODAY
37,"MANSAROVAR, JAIPUR","₹ 70,00,000",NEAR ST WILFRID COLLEGE MANSAROVAR JAIPUR 3 BH...,TODAY
38,"MANSAROVAR, JAIPUR","₹ 58,00,000",3 BHK 3 BATHROOMS APARTMENT OPPOSITE VIJAY PAT...,TODAY
39,"MANSAROVAR, JAIPUR","₹ 1,02,00,000",NEAR MANSAROVAR METRO AT ENGINEERS COLONY 4 BH...,TODAY

In [19]:
driver.get( "https://www.olx.in/bhopal_g4058901/for-sale-houses-apartments_c1725")

In [20]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
Bhk_type =[]
bhk_tags = driver.find_elements(By.XPATH,'//span[@class="_2poNJ"]')
for tag in bhk_tags:
    Bhk_type.append(tag.text)
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [21]:
len(property_Name),len(Type),len(prices),len(years),len(Bhk_type)

(40, 40, 40, 40, 40)

In [22]:
import pandas as pd 
df1 = pd.DataFrame({'Name':property_Name,'Prices':prices,'BHK':Bhk_type, 'Type':Type,'Years':years})
df1

,Name,Prices,BHK,Type,Years
0,"SAKET NAGAR, BHOPAL","₹ 65,00,000",Specious luxurious 3bhk flat,3 Bds - 3 Ba - 1500 ft2,APR 22
1,"PANJABI BAGH, BHOPAL","₹ 16,50,000",Urgent sale,1 Bds - 1 Ba - 525 ft2,6 DAYS AGO
2,"NEHRU NAGAR, BHOPAL","₹ 1,50,00,000",5BHK TRIPLEX,4+ Bds - 4+ Ba - 3700 ft2,6 DAYS AGO
3,"PADMANABH NAGAR HOUSING BOARD COLONY, BHOPAL","₹ 33,00,000",2BHK FLAT FOR SALE IN PADMANABH NAGAR,2 Bds - 2 Ba - 650 ft2,TODAY
4,"JAHANGIRABAD, BHOPAL","₹ 22,99,999",Selling flat,2 Bds - 2 Ba - 800 ft2,TODAY
5,"ARERA COLONY, BHOPAL","₹ 2,00,000",A 2 bhk flat corner in sheetal height Misrod c...,2 Bds - 2 Ba - 900 ft2,TODAY
6,"TT NAGAR, BHOPAL","₹ 1,65,00,000",Duplex Sell In Harshvardhan Nagar Park Face,4+ Bds - 4 Ba - 3500 ft2,TODAY
7,"SEMRA KALAN, BHOPAL","₹ 7,50,000",Ghar bechna hai 300 sqf,1 Bds - 1 Ba - 300 ft2,TODAY
8,"SARDAR PATEL NAGAR, BHOPAL","₹ 27,90,000",LOUNCHING T&CP APPROVED NEW DUPLEX IN PATEL NA...,2 Bds - 2 Ba - 800 ft2,YESTERDAY
9,"NEHRU NAGAR, BHOPAL","₹ 78,00,000","Nehru Nagar, Near Jain Temple & Kopal School",3 Bds - 2 Ba - 855 ft2,YESTERDAY
10,"ROHIT NAGAR, BHOPAL","₹ 80,00,000",3bhk duplex for Sale newly construction prime ...,3 Bds - 3 Ba - 1750 ft2,YESTERDAY
11,"ASHOKA GARDEN, BHOPAL","₹ 50,00,000",Best deal Ashoka garden Bhopal,4+ Bds - 2 Ba - 450 ft2,YESTERDAY
12,"MP NAGAR, BHOPAL","₹ 40,00,000",1200 squire feet Makan sell,4 Bds - 3 Ba - 1200 ft2,YESTERDAY
13,"PUSHPA NAGAR, BHOPAL","₹ 16,00,000",Bhopal station se 10 min. Ki duri par,1 Bds - 2 Ba - 750 ft2,YESTERDAY
14,"GAUTAM NAGAR JHUGGIES AREA, BHOPAL","₹ 35,00,000",चौकसे नगर डीआईजी बंगला,4+ Bds - 4+ Ba - 750 ft2,YESTERDAY
15,"ANNA NAGAR, BHOPAL","₹ 3,40,000",Dan patra wala h,1 Bds - 2 Ba - 600 ft2,YESTERDAY
16,"NEW MARKET TT NAGAR, BHOPAL","₹ 37,50,000",Panchsheel Nagar Home,4+ Bds - 4 Ba - 1500 ft2,3 DAYS AGO
17,"SINDHI COLONY, BHOPAL","₹ 10,00,000",Very beautiful location,3 Bds - 3 Ba - 200 ft2,3 DAYS AGO
18,"PRATAP NAGAR, BHOPAL","₹ 9,50,000",Arejent Sall in my home,2 Bds - 1 Ba - 318 ft2,3 DAYS AGO
19,"ARERA COLONY, BHOPAL","₹ 1,20,00,000",House/villa available for sale near laalghati ...,3 Bds - 3 Ba - 1450 ft2,3 DAYS AGO
20,"SEMRA KALAN, BHOPAL","₹ 8,50,000",House sel karna hai,1 Bds - 2 Ba - 500 ft2,JUN 09
21,"KALIYASO DAM AREA, BHOPAL","₹ 60,00,000",3 bhk front corner fully ventilation modular k...,3 Bds - 3 Ba - 1480 ft2,MAY 26
22,"ARERA COLONY, BHOPAL","₹ 48,00,000",3 bhk flat near 10 no market,3 Bds - 2 Ba - 1100 ft2,MAY 24
23,"GULMOHAR COLONY, BHOPAL","₹ 60,00,000",FOR SALE 4BHK NEW DUPLEX NEAR AIIMS HOSPITAK,4 Bds - 3 Ba - 1900 ft2,3 DAYS AGO
24,"JAHANGIRABAD, BHOPAL","₹ 25,00,000",house for sale,3 Bds - 2 Ba - 600 ft2,3 DAYS AGO
25,"CHUNABHATTI, BHOPAL","₹ 1,25,00,000",Chunnabhatti Covered 1238 Build up area 1850 N...,3 Bds - 3 Ba - 1240 ft2,4 DAYS AGO
26,"BAGH DILKUSHA, BHOPAL","₹ 52,00,000",My beautiful pink house for sale,4+ Bds - 4+ Ba - 820 ft2,4 DAYS AGO
27,"ARERA COLONY, BHOPAL","₹ 32,00,000",Flat for sale,3 Bds - 2 Ba - 1275 ft2,4 DAYS AGO
28,"NISHANT COLONY, BHOPAL","₹ 4,50,000",Jhuggi house,2 Bds - 1 Ba - 550 ft2,4 DAYS AGO
29,"SOUTH TT NAGAR, BHOPAL","₹ 30,00,000",Commercial/residential flat for sale,2 Bds - 1 Ba - 800 ft2,4 DAYS AGO
30,"ARERA COLONY, BHOPAL","₹ 1,70,00,000",9bhk triplex for sale in E/7 arera colony,4+ Bds - 4+ Ba - 4000 ft2,4 DAYS AGO
31,"SAKET NAGAR, BHOPAL","₹ 80,00,000",Semi commercial or Residential use Plot size 1...,2 Bds - 1 Ba - 1210 ft2,4 DAYS AGO
32,"ARERA COLONY, BHOPAL","₹ 3,00,00,000",Residential or semi Commercial use house in Ar...,4+ Bds - 4+ Ba - 3500 ft2,4 DAYS AGO
33,"GULMOHAR COLONY, BHOPAL","₹ 1,30,00,000",Park Facing 4bhk New Triplex in Covered Campus...,4 Bds - 4 Ba - 2000 ft2,4 DAYS AGO
34,"DEEPAK NAGAR, BHOPAL","₹ 1,61,00,000",Nirupam royal namaste hoshangabad road,3 Bds - 3 Ba - 2300 ft2,4 DAYS AGO
35,"DEEPAK NAGAR, BHOPAL","₹ 68,00,000",3bhk Duplex in covered campus Near Ashima mall...,3 Bds - 3 Ba - 1500 ft2,4 DAYS AGO
36,"SAKET NAGAR, BHOPAL","₹ 1,35,00,000",near Aiims Hospital Near Temple 6bhk Furnished...,4+ Bds - 4 Ba - 2300 ft2,4 DAYS AGO
37,"ARERA COLONY, BHOPAL","₹ 20,00,000",E-7/112 Sagar Deep Apartment,2 Bds - 2 Ba - 600 ft2,5 DAYS AGO
38,"FAKIRPURA, BHOPAL","₹ 1,10,00,000",Commercial and residential building for sell i...,4+ Bds - 4+ Ba - 4300 ft2,5 DAYS AGO
39,"PUSHPA NAGAR, BHOPAL","₹ 1,05,00,000",Home 4 folre sell,4+ Bds - 4+ Ba - 1000 ft2,5 DAYS AGO

In [14]:
import pandas as pd 
df = pd.DataFrame({'Carpet':Carpet_area,'Property_name':property_Name,'Prices':price})
df

,Carpet,Property_name,Prices
0,"6 bds4 ba3,817 sqft - House for sale","2540 Albany Dr, Kissimmee, FL 34758","$675,000"
1,"4 bds2 ba2,074 sqft - House for sale","21675 E Camina Plata, Queen Creek, AZ 85142","$569,000"
2,"4 bds2 ba1,728 sqft - House for sale","8514 N 46th St, Tampa, FL 33617","$324,999"
3,"4 bds3 ba3,367 sqft - House for sale","3916 Esquire Dr, Plano, TX 75023","$800,000"
4,Studio 1 ba270 sqft - Condo for sale,"255 W 24th St APT 308, Miami Beach, FL 33140","$290,000"
5,"4 bds2 ba1,698 sqft - House for sale","2815 SUNSET BND, San Antonio, TX 78244","$265,000"
6,"3 bds2 ba1,482 sqft - House for sale","3907 Thornbush Ln, New Port Richey, FL 34655","$299,900"
7,Studio 1 ba598 sqft - Condo for sale,"475 Brickell Ave APT 4708, Miami, FL 33131","$450,000"
8,"2 bds2 ba1,158 sqft - Condo for sale","10603 S Wilcrest Dr APT 35, Houston, TX 77099","$85,000"

In [88]:
driver.get( "https://www.olx.in/punjab_g2001170/for-sale-houses-apartments_c1725")

In [89]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
Bhk_type =[]
bhk_tags = driver.find_elements(By.XPATH,'//span[@class="_2poNJ"]')
for tag in bhk_tags:
    Bhk_type.append(tag.text)
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [90]:
len(property_Name),len(Type),len(prices),len(years),len(Bhk_type)

(40, 40, 40, 40, 40)

In [91]:
import pandas as pd 
df5 = pd.DataFrame({'Name':property_Name,'Types':Type,'Prices':prices,'BHK':Bhk_type,'Years':years})
df5

,Name,Types,Prices,BHK,Years
0,"SECTOR 114, MOHALI",4 Bds - 4 Ba - 900 ft2,"₹ 98,45,000",Spanish Homes in Mohali,JUN 04
1,"SECTOR 116, MOHALI",3 Bds - 3 Ba - 1718 ft2,"₹ 64,90,000",3 BHK in Somdatt sector-116 Mohali,MAY 25
2,"SECTOR 78, MOHALI",4 Bds - 4 Ba - 1500 ft2,"₹ 2,15,00,000",4BHK Floor 10 Marla Brand New with Lift,5 DAYS AGO
3,"UJALA NAGAR, JALANDHAR",2 Bds - 2 Ba - 900 ft2,"₹ 21,50,000",3.25 Marla Kothi for sale,TODAY
4,"RAJIYA, RAJA SANSI",2 Bds - 3 Ba - 1400 ft2,"₹ 42,00,000",121 yard villa for sale,TODAY
5,"RAJIYA, RAJA SANSI",3 Bds - 4 Ba - 1750 ft2,"₹ 65,00,000",138 yard villa for sale,TODAY
6,"BAKARPUR 264, MOHALI",3 Bds - 3 Ba - 1822 ft2,"₹ 91,10,000",3 BHK ADJOINING PR7 AIRPORT ROAD ZIRAKPUR,TODAY
7,"BAKARPUR 264, MOHALI",3 Bds - 3 Ba - 1745 ft2,"₹ 87,25,000",3 BHK ADJOINING PR7 AIRPORT ROAD ZIRAKPUR,TODAY
8,"AIRPORT ROAD, MOHALI",3 Bds - 3 Ba - 2000 ft2,"₹ 85,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
9,"AIRPORT ROAD, MOHALI",3 Bds - 3 Ba - 1995 ft2,"₹ 85,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
10,"SECTOR 116, MOHALI",2 Bds - 2 Ba - 1199 ft2,"₹ 43,85,000",2BHK FLATS FOR SALE ON LANDRAN ROAD SECTOR 116...,TODAY
11,"SECTOR 116, MOHALI",2 Bds - 2 Ba - 1206 ft2,"₹ 43,90,000",2BHK GMADA APPROVED FLATS FOR SALE IN SECTOR 1...,TODAY
12,"KURALI CHANDIGARH RD, KHARAR",2 Bds - 2 Ba - 1205 ft2,"₹ 40,50,000",2BHK LUXURY FLATS FOR SALE ON KURALI HIGHWAY K...,TODAY
13,"RAMPURA PHUL, PUNJAB",3 Bds - 3 Ba - 1440 ft2,"₹ 35,00,000",NEWLY BUILT HOUSE FOR SALE (MOVE OUT SALE),TODAY
14,"SARASWATI VIHAR, DERA BASSI",2 Bds - 2 Ba - 100 ft2,"₹ 25,00,000",Koithe for sale,TODAY
15,"DHAKAULI, ZIRAKPUR",2 Bds - 2 Ba - 1302 ft2,"₹ 59,00,000",A new good constructed society and approachabl...,TODAY
16,"BAKARPUR 264, MOHALI",3 Bds - 3 Ba - 1895 ft2,"₹ 94,75,000",3 BHK ADJOINING PR7 AIRPORT ROAD ZIRAKPUR,TODAY
17,"AIRPORT ROAD, MOHALI",3 Bds - 3 Ba - 1900 ft2,"₹ 85,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
18,"KURALI CHANDIGARH RD, KHARAR",2 Bds - 2 Ba - 1159 ft2,"₹ 40,50,000",2BHK ULTRA LUXURY FLATS FOR SALE ON KURALI CHA...,TODAY
19,"SECTOR 91, MOHALI",4 Bds - 3 Ba - 2250 ft2,"₹ 1,36,00,000",4BHK LUXURIOUS FLATS FOR SALE IN SECTOR 91 MOH...,TODAY
20,"SHIVALIK CITY, KHARAR",3 Bds - 3 Ba - 900 ft2,"₹ 62,51,000",3 Bedroom Kothi in Sector 127,JUN 04
21,"KALIA COLONY, JALANDHAR",3 Bds - 3 Ba - 1770 ft2,"₹ 65,70,000","3 bedroom house for sale in jalandhar, BatthSons",JUN 07
22,"KALKIDHAR AVENUE, JALANDHAR",3 Bds - 3 Ba - 1300 ft2,"₹ 42,00,000",ढाई साल की आसान किस्तों में. फ्लैट्स खरीदने के...,MAY 08
23,"KURALI CHANDIGARH RD, KHARAR",2 Bds - 2 Ba - 1198 ft2,"₹ 41,60,000",2BHK READY TO SHIFT FLATS FOR SALE ON KURALI H...,TODAY
24,"KURALI CHANDIGARH RD, KHARAR",2 Bds - 2 Ba - 1190 ft2,"₹ 40,80,000",2 BHK FLATS FOR SALE IN MOHALI.,TODAY
25,"KURALI CHANDIGARH RD, KHARAR",2 Bds - 2 Ba - 1187 ft2,"₹ 41,90,000",Luxurious 2 Bhk ready to move flat for sale on...,TODAY
26,"SECTOR 124, MOHALI",3 Bds - 3 Ba - 1350 ft2,"₹ 61,90,000",(S+3) 3Bhk with Lift onAirport road Mohali,TODAY
27,"SECTOR 116, MOHALI",3 Bds - 3 Ba - 1730 ft2,"₹ 64,90,000",3 Bhk on road project main Highway Mohali,TODAY
28,"SECTOR 127, MOHALI",2 Bds - 2 Ba - 950 ft2,"₹ 29,90,000",2 Bhk with Lift in Shivalik home Mohali with f...,TODAY
29,"SECTOR 124, MOHALI",3 Bds - 3 Ba - 1350 ft2,"₹ 61,90,000",(S+3) 3 Bhk in Sunny enclave Mohali with Lift,TODAY
30,"SECTOR 124, MOHALI",3 Bds - 3 Ba - 1350 ft2,"₹ 61,90,000",3 Bhk with Lift Near to Airport road Mohali,TODAY
31,"SECTOR 115, MOHALI",1 Bds - 1 Ba - 650 ft2,"₹ 19,90,000",Fully furnished 1 Bhk in just 19.90 Lac only,TODAY
32,"SECTOR 124, MOHALI",3 Bds - 3 Ba - 1350 ft2,"₹ 60,90,000",3 Bhk with Lift on Airport road Mohali,TODAY
33,"SECTOR 127, MOHALI",3 Bds - 3 Ba - 1350 ft2,"₹ 43,90,000",3 Bhk on Landran road kharar Mohali,TODAY
34,"SECTOR 115, MOHALI",1 Bds - 1 Ba - 650 ft2,"₹ 19,90,000",Furnished 1 Bhk in just 19.90 Lac only,TODAY
35,"SECTOR 127, MOHALI",3 Bds - 3 Ba - 1730 ft2,"₹ 66,90,000",3 Bhk Flat in sector-127 Mohali,TODAY
36,"SECTOR 127, MOHALI",3 Bds - 3 Ba - 1730 ft2,"₹ 66,90,000",Big Size 3 Bhk in sector-127 Mohali,TODAY
37,"SECTOR 115, MOHALI",1 Bds - 1 Ba - 650 ft2,"₹ 19,90,000",1 Bhk flat for sale in sector-115 Mohali,TODAY
38,"SECTOR 116, MOHALI",3 Bds - 3 Ba - 1730 ft2,"₹ 64,90,000",Big size 3 Bhk on road project Mohali,TODAY
39,"SECTOR 127, MOHALI",3 Bds - 3 Ba - 1350 ft2,"₹ 43,90,000",3 Bhk Luxury floor in sector-127 Mohali,TODAY

In [16]:
driver = webdriver.Chrome()

In [4]:
driver.get( "https://www.olx.in/navi-mumbai_g4059005/for-sale-houses-apartments_c1725")

In [5]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
Bhk_type =[]
bhk_tags = driver.find_elements(By.XPATH,'//span[@class="_2poNJ"]')
for tag in bhk_tags:
    Bhk_type.append(tag.text)
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [6]:
len(property_Name),len(Type),len(prices),len(years),len(Bhk_type)

(40, 40, 40, 40, 40)

In [7]:
import pandas as pd 
df6 = pd.DataFrame({'Name':property_Name,'Types':Type,'Prices':prices,'BHK':Bhk_type,'Years':years})
df6

,Name,Types,Prices,BHK,Years
0,"ULWE, NAVI MUMBAI",1 Bds - 1 Ba - 630 ft2,"₹ 38,00,000",1 BHK flat for sale in ulwe navi mumbai sec 19,8 JUN
1,"DAPOLI, NAVI MUMBAI",1 Bds - 2 Ba - 675 ft2,"₹ 45,00,000",CIDCO TENDER PLOT AT PRIME LOCATION IN PUSHPAK...,10 MAY
2,"ULWE, NAVI MUMBAI",1 Bds - 1 Ba - 660 ft2,"₹ 37,50,000","1 Bhk for Sale in Sector 16, Ulwe, Navi Mumbai",23 MAY
3,"ULWE, NAVI MUMBAI",2 Bds - 2 Ba - 1160 ft2,"₹ 80,00,000",2 bhk ready to move front facing flat availabe...,TODAY
4,"ULWE, NAVI MUMBAI",1 Bds - 1 Ba - 680 ft2,"₹ 54,00,000",1bhk WITH MASTER BED ROOM flat availabe for sale,TODAY
5,"ULWE, NAVI MUMBAI",2 Bds - 2 Ba - 1220 ft2,"₹ 91,50,000",2bhk flat with all aminities including swiming...,TODAY
6,"ULWE, NAVI MUMBAI",2 Bds - 2 Ba - 1070 ft2,"₹ 71,00,000",2 bhk huge road facing triparty flat in sector...,TODAY
7,"ULWE, NAVI MUMBAI",1 Bds - 2 Ba - 740 ft2,"₹ 45,00,000",1bhk with master bed room flat available for sale,TODAY
8,"DAPOLI, NAVI MUMBAI",1 Bds - 1 Ba - 550 ft2,"₹ 66,00,000",Bhandup west police station,TODAY
9,"ULWE, NAVI MUMBAI",1 Bds - 1 Ba - 615 ft2,"₹ 44,50,000",1 bhk for sale at Sector - 23 Ulwe ready posse...,TODAY
10,"ULWE, NAVI MUMBAI",2 Bds - 2 Ba - 900 ft2,"₹ 17,00,000","SECTOR-3, ULVE NODE",TODAY
11,"KARANJADE, NAVI MUMBAI",3 Bds - 2 Ba - 1020 ft2,"₹ 22,00,000","SECTOR-3, KARANJADE",TODAY
12,"ULWE, NAVI MUMBAI",2 Bds - 2 Ba - 688 ft2,"₹ 30,00,000","SECTOR-21, ULWE",TODAY
13,"ULWE, NAVI MUMBAI",1 Bds - 1 Ba - 670 ft2,"₹ 44,00,000",Lavish 1bhk for sale in ulwe,TODAY
14,"ULWE, NAVI MUMBAI",1 Bds - 2 Ba - 630 ft2,"₹ 33,00,000",1 BHK TRIPARTITE PLOT FLAT FOR SALE IN ULWE SE...,TODAY
15,"ULWE, NAVI MUMBAI",2 Bds - 2 Ba - 1100 ft2,"₹ 85,00,000",2bhk sale at very prime location in ulwe,TODAY
16,"ULWE, NAVI MUMBAI",2 Bds - 2 Ba - 1250 ft2,"₹ 1,35,00,000",2 bhk sale 1crore 35lkah + taxses,TODAY
17,"KARANJADE, NAVI MUMBAI",1 Bds - 1 Ba - 780 ft2,"₹ 58,00,000",1bhk Terrace flat available in karanjade,TODAY
18,"KARANJADE, NAVI MUMBAI",1 Bds - 1 Ba - 630 ft2,"₹ 36,00,000",1 BHK flat available in karanjade,TODAY
19,"KARANJADE, NAVI MUMBAI",1 Bds - 2 Ba - 695 ft2,"₹ 42,00,000",1bhk flat in Tower karanjade,TODAY
20,"ULWE, NAVI MUMBAI",1 Bds - 2 Ba - 674 ft2,"₹ 45,00,000",1BHK for Sale,6 JUN
21,"ULWE, NAVI MUMBAI",1 Bds - 1 Ba - 600 ft2,"₹ 43,00,000",URJENT FOR SALE,4 DAYS AGO
22,"ULWE, NAVI MUMBAI",2 Bds - 2 Ba - 1250 ft2,"₹ 1,00,00,000",2 bhk in tower,24 MAY
23,"ULWE, NAVI MUMBAI",1 Bds - 1 Ba - 488 ft2,"₹ 33,00,000",1RK flat for sale in Ulwe,TODAY
24,"KARANJADE, NAVI MUMBAI",1 Bds - 1 Ba - 625 ft2,"₹ 35,00,000",Sai shivam apartment 1bhk Price =34 lac sector...,TODAY
25,"ULWE, NAVI MUMBAI",1 Bds - 2 Ba - 550 ft2,"₹ 35,00,000",1Bhk Flat for sale in ulwe.,TODAY
26,"ULWE, NAVI MUMBAI",1 Bds - 1 Ba - 680 ft2,"₹ 55,00,000",Lavish 1bhk sale in ulwe,TODAY
27,"ULWE, NAVI MUMBAI",1 Bds - 1 Ba - 680 ft2,"₹ 51,00,000",Very lavish 1bhk for sale in ulwe,TODAY
28,"ULWE, NAVI MUMBAI",2 Bds - 2 Ba - 1050 ft2,"₹ 85,00,000",Lavish 2 bhk for sale in new building,YESTERDAY
29,"ULWE, NAVI MUMBAI",1 Bds - 1 Ba - 550 ft2,"₹ 40,00,000",1 BHK flat for sale in ulwe,YESTERDAY
30,"OLD PANVEL, NAVI MUMBAI",2 Bds - 2 Ba - 1000 ft2,"₹ 95,00,000",2 bhk small terrace flat for sale in old panvel,YESTERDAY
31,"ULWE, NAVI MUMBAI",1 Bds - 2 Ba - 575 ft2,"₹ 29,00,000",1 BHK FLAT FOR SALE IN ULWE SECTOR - 25A,YESTERDAY
32,"ULWE, NAVI MUMBAI",2 Bds - 2 Ba - 950 ft2,"₹ 44,00,000",2 BHK FLAT FOR SALE IN ULWE SECTOR - 24 ON PRI...,YESTERDAY
33,"ULWE, NAVI MUMBAI",1 Bds - 2 Ba - 740 ft2,"₹ 67,00,000",1 BHK full furnish flat for sale in ulwe,YESTERDAY
34,"KHAR KOPAR, NAVI MUMBAI",1 Bds - 2 Ba - 650 ft2,"₹ 39,10,000",Specious 1Bed With Master Bed at 39.10Lac Onwa...,YESTERDAY
35,"ULWE, NAVI MUMBAI",2 Bds - 2 Ba - 1150 ft2,"₹ 85,00,000",Fully furnished 2 bhk flat available for sale,YESTERDAY
36,"ULWE, NAVI MUMBAI",2 Bds - 2 Ba - 1140 ft2,"₹ 18,000",2 bhk species,YESTERDAY
37,"OLD PANVEL, NAVI MUMBAI",3 Bds - 3 Ba - 1600 ft2,"₹ 1,44,00,000",2Bhk Jodi Flat Converted to Specious 3Bhk with...,YESTERDAY
38,"ULWE, NAVI MUMBAI",2 Bds - 2 Ba - 1050 ft2,"₹ 75,00,000",NEAR BY BAMANDONGRI STATION,YESTERDAY
39,"OLD PANVEL, NAVI MUMBAI",1 Bds - 2 Ba - 650 ft2,"₹ 26,00,000",1BHK & 2BHK Spacious Flat Available. Rera Appr...,2 DAYS AGO

In [10]:
driver.get( "https://www.olx.in/nagpur_g4058998/for-sale-houses-apartments_c1725")

In [13]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
Bhk_type =[]
bhk_tags = driver.find_elements(By.XPATH,'//span[@class="_2poNJ"]')
for tag in bhk_tags:
    Bhk_type.append(tag.text)
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [14]:
import pandas as pd 
df7 = pd.DataFrame({'Name':property_Name,'Types':Type,'Prices':prices,'BHK':Bhk_type,'Years':years})
df7

,Name,Types,Prices,BHK,Years
0,"BORGAON, NAGPUR",2 Bds - 2 Ba - 1110 ft2,"₹ 39,00,000",2 bhk flat for sale near Gorewada sq,JUN 06
1,"CIVIL LINES, NAGPUR",3 Bds - 3 Ba - 1800 ft2,"₹ 1,10,00,000",3bhk flat for sale with furniture at prime loc...,MAY 27
2,"BORGAON, NAGPUR",2 Bds - 2 Ba - 1020 ft2,"₹ 36,00,000",2 bhk flat available for sale in Gorewada,MAY 19
3,"SHANKAR NAGAR, NAGPUR",2 Bds - 2 Ba - 00 ft2,"₹ 14,000",4600rs for girl independent and safe flat,TODAY
4,"TUKDOJI CHOWK, NAGPUR",2 Bds - 2 Ba - 850 ft2,"₹ 33,00,000",Sell Furnish 2 bhk flat urgent,TODAY
5,"INDORA, NAGPUR",2 Bds - 1 Ba - 689 ft2,"₹ 19,60,975","Flat at Mz-Indora, Dr.ambedkar Marg, Nagpur",TODAY
6,"INDORA, NAGPUR",2 Bds - 2 Ba - 597 ft2,"₹ 23,17,887","Flat at Indora, Dr.ambedkar Marg, Nagpur.",TODAY
7,"AZAMSHAHA CHOWK, NAGPUR",4 Bds - 2 Ba - 600 ft2,"₹ 90,00,000",3 shop hai jaldi sell karna hai,TODAY
8,"YADAV NAGAR, NAGPUR",3 Bds - 3 Ba - 700 ft2,"₹ 40,00,000",Buliding sale,TODAY
9,"RANI DURGAWATI NAGAR, NAGPUR",1 Bds - 2 Ba - 9000 ft2,"₹ 24,00,000",Shree Complex,TODAY
10,"SAKKARDARA, NAGPUR",1 Bds - 2 Ba - 500 ft2,"₹ 20,00,000",1BHK for sale in Nagpur's best area,TODAY
11,"SAKKARDARA, NAGPUR",1 Bds - 1 Ba - 900 ft2,"₹ 32,00,000",Property in Nagpur near Sakkardara Lake behind...,TODAY
12,"JAFAR NAGAR, NAGPUR",2 Bds - 1 Ba - 950 ft2,"₹ 28,50,000",Flat sale 2 bhk,YESTERDAY
13,"RAMDASPETH, NAGPUR",2 Bds - 2 Ba - 1200 ft2,"₹ 37,00,000",Flat for sell 2 and 3 bhk,YESTERDAY
14,"WANJARI NAGAR, NAGPUR",2 Bds - 2 Ba - 750 ft2,"₹ 22,00,000",New maa Laxmi Nagar wanjra,YESTERDAY
15,"KUSHI NAGAR, NAGPUR",2 Bds - 2 Ba - 1000 ft2,"₹ 45,00,000",2BHK NEW FLAT AT PRIME LOCATION,YESTERDAY
16,"BORGAON, NAGPUR",2 Bds - 1 Ba - 500 ft2,"₹ 32,05,303",Residential Flat(Borgaon),YESTERDAY
17,"BAJERIA, NAGPUR",4 Bds - 3 Ba - 1800 ft2,"₹ 1,29,00,000","House for sale in lodhipuara , 100 feets from ...",2 DAYS AGO
18,"ARYA NAGAR, NAGPUR",4 Bds - 4 Ba - 2400 ft2,"₹ 99,00,000",Luxury bunglow for sale,2 DAYS AGO
19,"DEO NAGAR, NAGPUR",3 Bds - 3 Ba - 1450 ft2,"₹ 49,50,000",3 BHK House,3 DAYS AGO
20,"CHAKRADHAR NAGAR, NAGPUR",2 Bds - 2 Ba - 1000 ft2,"₹ 31,00,000","2bhk only 31 lakhs ,1000 sqft in city area",JUN 06
21,"JARIPATKA, NAGPUR",2 Bds - 2 Ba - 850 ft2,"₹ 35,00,000",I want to sold my house,JUN 12
22,"GITTI KHADAN, NAGPUR",2 Bds - 2 Ba - 900 ft2,"₹ 38,00,000","38 lkh fully furnished flat, negotiable",JUN 01
23,"NAGPUR CITY H O, NAGPUR",2 Bds - 1 Ba - 700 ft2,"₹ 18,00,600","2 bhk flat ₹ 18 lakh, No Gst, No deposit, Road...",3 DAYS AGO
24,"MEDICAL COLONY, NAGPUR",3 Bds - 2 Ba - 1225 ft2,"₹ 60,00,000",3bhk semi furnished flat in good locality need...,3 DAYS AGO
25,"BHAGWAN NAGAR, NAGPUR",2 Bds - 2 Ba - 1050 ft2,"₹ 45,00,000",Bhagavan nagar 2bhk flat fully furnished near ...,4 DAYS AGO
26,"NANDANVAN, NAGPUR",2 Bds - 2 Ba - 1108 ft2,"₹ 46,00,000",2 BHK pleasant beautuful home,4 DAYS AGO
27,"KORADI ROAD, NAGPUR",3 Bds - 3 Ba - 1912 ft2,"₹ 79,50,000",3 bhk independent villa with grd floor parking.,4 DAYS AGO
28,"KORADI ROAD, NAGPUR",4 Bds - 3 Ba - 1612 ft2,"₹ 52,50,000","Sumera villa-13, with modular kitchen and pop.",4 DAYS AGO
29,"KORADI ROAD, NAGPUR",4 Bds - 3 Ba - 1600 ft2,"₹ 49,00,000",4 bhk independent villa with modular kitchen a...,4 DAYS AGO
30,"KORADI ROAD, NAGPUR",3 Bds - 3 Ba - 1600 ft2,"₹ 45,50,000",3 bhk villa in very prime location.,4 DAYS AGO
31,"KORADI ROAD, NAGPUR",2 Bds - 2 Ba - 1050 ft2,"₹ 44,00,000",Fully Furnished Flat 2nd floor with lift,4 DAYS AGO
32,"KORADI ROAD, NAGPUR",2 Bds - 2 Ba - 900 ft2,"₹ 18,00,000",Terrace Flat 2Bhk mein road touch property,4 DAYS AGO
33,"KORADI ROAD, NAGPUR",2 Bds - 2 Ba - 1000 ft2,"₹ 25,00,000",2Bhk Flat 2nd floor @Shambhu nagar,4 DAYS AGO
34,"KORADI ROAD, NAGPUR",3 Bds - 3 Ba - 1600 ft2,"₹ 42,50,000",3Bhk Independent Duplex Upcoming project,4 DAYS AGO
35,"KORADI ROAD, NAGPUR",2 Bds - 2 Ba - 1000 ft2,"₹ 38,00,000",Upcoming project 2bhk independent house,4 DAYS AGO
36,"KORADI ROAD, NAGPUR",2 Bds - 2 Ba - 1000 ft2,"₹ 26,51,000",Semi Furnished Spacious and affordable flat in...,4 DAYS AGO
37,"ROY UDYOG COMPLEX, NAGPUR",2 Bds - 2 Ba - 850 ft2,"₹ 16,00,000",Ready to move 2bhk flat price 16Lac negotiable,4 DAYS AGO
38,"KORADI ROAD, NAGPUR",2 Bds - 2 Ba - 1000 ft2,"₹ 37,00,000","New 2bhk independent house for sale(panjara,ko...",5 DAYS AGO
39,"SHANTI NAGAR, NAGPUR",2 Bds - 2 Ba - 600 ft2,"₹ 63,00,000",Independent House Shanti Nagar,5 DAYS AGO

In [20]:
driver.get( "https://www.olx.in/hyderabad_g4058526/for-sale-houses-apartments_c1725")

In [21]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
Bhk_type =[]
bhk_tags = driver.find_elements(By.XPATH,'//span[@class="_2poNJ"]')
for tag in bhk_tags:
    Bhk_type.append(tag.text)
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [23]:
len(property_Name),len(Type),len(prices),len(years),len(Bhk_type)

(40, 39, 40, 40, 40)

In [24]:
import pandas as pd 
df8= pd.DataFrame({'Name':property_Name,'Prices':prices,'BHK':Bhk_type,'Years':years})
df8

,Name,Prices,BHK,Years
0,"CZECH COLONY, HYDERABAD","₹ 92,50,000",2BHK flat for Sale,MAY 12
1,"AMEERPET, HYDERABAD","₹ 2,10,00,000",Independent house near Ameerpet metro station ...,MAY 22
2,"BALANAGAR, HYDERABAD","₹ 40,00,000",House for sale,MAY 12
3,"CHINTAL, HYDERABAD","₹ 1,30,00,000",100Sq.Yards Independent House for Sale(Chintal),TODAY
4,"MPS AND MLA COLONY JUBILEE HILLS, HYDERABAD","₹ 1,00,00,000",Get 2 cr in 2 years investment of 1cr monthly ...,TODAY
5,"KUKATPALLY, HYDERABAD","₹ 5,00,000",ICICI BANK HOME LOAN AVAILABLE,TODAY
6,"JAWAHARNAGAR, HYDERABAD","₹ 1,40,00,000",G+3 House for sale in Rahmathnagar Yousufguda,TODAY
7,"BALA NAGAR, HYDERABAD","₹ 1,90,00,000",Semi Commercial Building for sale in Balanagar,TODAY
8,"ALLWYN COLONY, HYDERABAD","₹ 65,00,000",2 bhk fully furnished flat only 3 year old fla...,TODAY
9,"KUKATPALLY, HYDERABAD","₹ 50,00,000",2BHK FLATS FOR SALE KUKATPALLY,TODAY
10,"KUKATPALLY, HYDERABAD","₹ 53,00,000",2BHKH.M.D.A FLATS KUKATPALLY,TODAY
11,"KUKATPALLY, HYDERABAD","₹ 48,00,000",2BHK GHMC FLATS SALE KUKATPALLY,TODAY
12,"BORABANDA, HYDERABAD","₹ 50,00,000",Attapur flyover near airport road Shastri Puram,TODAY
13,"KUKATPALLY, HYDERABAD","₹ 95,05,191",Luxury Hi-Rise Gated community in Miyapur,TODAY
14,"BEGUMPET, HYDERABAD","₹ 75,00,000",Godhanilayam Apartments,TODAY
15,"KUKATPALLY, HYDERABAD","₹ 74,08,765",Ready To Move Project - Bachupally x Road,TODAY
16,"JAYA NAGAR, HYDERABAD","₹ 1,55,00,000",Independent House G+2,TODAY
17,"KUKATPALLY, HYDERABAD","₹ 83,96,567",Fully Gated community in Miyapur,TODAY
18,"SUNDAR NAGAR, HYDERABAD","₹ 1,70,00,000",Patancheru ORR Facing HMDA & RERA Villa Gated ...,YESTERDAY
19,"BOWENPALLY, HYDERABAD","₹ 1,10,00,000","North 1920sft 3 bhk 2nd floor ( kanajiguda, bo...",YESTERDAY
20,"CHINTAL, HYDERABAD","₹ 65,00,000","2 BHK flat for sale in bapu nagar,chintal",MAY 11
21,"SANJEEVA REDDY NAGAR, HYDERABAD","₹ 75,00,000",Opp ESI metro station,4 DAYS AGO
22,"BORABANDA, HYDERABAD","₹ 86,00,000",Independent house for sale,APR 24
23,"PADMAVATI NAGAR, HYDERABAD","₹ 2,50,00,000",Commercial,YESTERDAY
24,"AMEERPET, HYDERABAD","₹ 58,00,000",Suncity Apartments,YESTERDAY
25,"KRISHNA NAGAR, HYDERABAD","₹ 2,30,00,000",House for sale,YESTERDAY
26,"PADMAVATI NAGAR, HYDERABAD","₹ 55,00,000",INDIPENDENT HOUSE FOR SALE,YESTERDAY
27,"KUKATPALLY, HYDERABAD","₹ 45,00,000","Farm House at Nandikandi, Sangareddy 242 sq ya...",YESTERDAY
28,"CHINTAL, HYDERABAD","₹ 45,00,000",Farm House With Own Swimming Pool @ Sangareddy,2 DAYS AGO
29,"MADHAPUR, HYDERABAD","₹ 1,70,00,000",SRI NILAYA STERLING COURT II,2 DAYS AGO
30,"AMEERPET, HYDERABAD","₹ 45,00,000","Farm House, Swimming Pool @ Sangareddy",2 DAYS AGO
31,"SANJEEVA REDDY NAGAR, HYDERABAD","₹ 45,00,000",Farm House with Swimming Pool @ Sangareddy,2 DAYS AGO
32,"PAPARAYADU NAGAR, HYDERABAD","₹ 75,00,000",Ready to move 2bhk flat in kukatpally,2 DAYS AGO
33,"KUKATPALLY, HYDERABAD","₹ 1,31,00,000",Premium 3bhk Flats@Kukatpally Y Junction,2 DAYS AGO
34,"KUKATPALLY, HYDERABAD","₹ 1,05,00,000",2 BHK in Swan Lake Kukatpally,2 DAYS AGO
35,"BOWENPALLY, HYDERABAD","₹ 2,74,50,000",Integrity Gated Platinum Community,2 DAYS AGO
36,"BALA NAGAR, HYDERABAD","₹ 49,00,000",Shatri puram attapur flyover,2 DAYS AGO
37,"BEGUMPET, HYDERABAD","₹ 95,00,000","Begampet Furnishied 3BHK Flat For Sale,",3 DAYS AGO
38,"KUKATPALLY, HYDERABAD","₹ 1,05,00,000","Kukatpally Furnishied 2BHK Flat For Sale, Gate...",3 DAYS AGO
39,"ZAHRA NAGAR, HYDERABAD","₹ 10,000",Luxurious 3 BHK Flat For Sale On Main Road 10 ...,3 DAYS AGO

In [92]:
data_frames = [df1, df2, df3,df4,df5]

combined_df = pd.concat(data_frames, ignore_index=True)
print(combined_df)

                    Name         Prices   Years                    Types  \
0      SION EAST, MUMBAI  ₹ 1,60,00,000  MAY 28                      NaN
1     KURLA WEST, MUMBAI  ₹ 1,30,00,000  MAY 24                      NaN
2      KHAR EAST, MUMBAI    ₹ 25,00,000  JUN 06                      NaN
3        CHEMBUR, MUMBAI    ₹ 99,00,000   TODAY                      NaN
4    BANDRA WEST, MUMBAI  ₹ 2,95,00,000   TODAY                      NaN
..                   ...            ...     ...                      ...
195   SECTOR 127, MOHALI    ₹ 66,90,000   TODAY  3 Bds - 3 Ba - 1730 ft2
196   SECTOR 127, MOHALI    ₹ 66,90,000   TODAY  3 Bds - 3 Ba - 1730 ft2
197   SECTOR 115, MOHALI    ₹ 19,90,000   TODAY   1 Bds - 1 Ba - 650 ft2
198   SECTOR 116, MOHALI    ₹ 64,90,000   TODAY  3 Bds - 3 Ba - 1730 ft2
199   SECTOR 127, MOHALI    ₹ 43,90,000   TODAY  3 Bds - 3 Ba - 1350 ft2

                                          BHK
0                                         NaN
1                                         NaN
2                                         NaN
3                                         NaN
4                                         NaN
..                                        ...
195           3 Bhk Flat in sector-127 Mohali
196       Big Size 3 Bhk in sector-127 Mohali
197  1 Bhk flat for sale in sector-115 Mohali
198     Big size 3 Bhk on road project Mohali
199   3 Bhk Luxury floor in sector-127 Mohali

[200 rows x 5 columns]

In [25]:
df= pd.DataFrame({'Type':Type})
df

                         Type
0     2 Bds - 2 Ba - 1140 ft2
1   4+ Bds - 4+ Ba - 5000 ft2
2      1 Bds - 2 Ba - 450 ft2
3    4+ Bds - 4+ Ba - 900 ft2
4     2 Bds - 2 Ba - 1050 ft2
5      2 Bds - 2 Ba - 110 ft2
6   4+ Bds - 4+ Ba - 1800 ft2
7     2 Bds - 2 Ba - 1025 ft2
8     2 Bds - 2 Ba - 1150 ft2
9     2 Bds - 2 Ba - 1150 ft2
10    2 Bds - 2 Ba - 1000 ft2
11    2 Bds - 2 Ba - 1200 ft2
12    3 Bds - 2 Ba - 1509 ft2
13    2 Bds - 2 Ba - 1175 ft2
14    2 Bds - 2 Ba - 1235 ft2
15    2 Bds - 2 Ba - 1188 ft2
16    3 Bds - 2 Ba - 1333 ft2
17    4 Bds - 4 Ba - 1930 ft2
18    3 Bds - 3 Ba - 1920 ft2
19    2 Bds - 2 Ba - 1125 ft2
20    3 Bds - 2 Ba - 1150 ft2
21   4 Bds - 4+ Ba - 1956 ft2
22    3 Bds - 3 Ba - 2200 ft2
23     2 Bds - 2 Ba - 900 ft2
24   4+ Bds - 4+ Ba - 100 ft2
25      1 Bds - 1 Ba - 50 ft2
26     2 Bds - 2 Ba - 800 ft2
27     2 Bds - 2 Ba - 800 ft2
28    3 Bds - 3 Ba - 1840 ft2
29     2 Bds - 2 Ba - 800 ft2
30     2 Bds - 2 Ba - 800 ft2
31     2 Bds - 2 Ba - 980 ft2
32    3 Bds - 3 Ba - 1860 ft2
33    2 Bds - 2 Ba - 1149 ft2
34    4 Bds - 4 Ba - 3050 ft2
35    2 Bds - 2 Ba - 1200 ft2
36    3 Bds - 3 Ba - 1330 ft2
37    2 Bds - 2 Ba - 1095 ft2
38    3 Bds - 3 Ba - 1880 ft2

In [26]:
driver.get( "https://www.olx.in/chandigarh_g2001149/for-sale-houses-apartments_c1725")

In [27]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
Bhk_type =[]
bhk_tags = driver.find_elements(By.XPATH,'//span[@class="_2poNJ"]')
for tag in bhk_tags:
    Bhk_type.append(tag.text)
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [29]:
len(property_Name),len(prices),len(years),len(Bhk_type)

(40, 40, 40, 40)

In [30]:
import pandas as pd 
df9= pd.DataFrame({'Name':property_Name,'Prices':prices,'BHK':Bhk_type,'Years':years})
df9

,Name,Prices,BHK,Years
0,"SECTOR 48, CHANDIGARH","₹ 3,05,00,000",A 3 SIDE OPEN GROUND FLOOR 4BHK IN SEC 48 CHAN...,MAY 29
1,"SECTOR 48, CHANDIGARH","₹ 2,05,00,000",4 BHK Duplex/flat in Sec 48,JUN 06
2,"SECTOR 47C, CHANDIGARH","₹ 1,95,00,000",Luxurious Newly Built 2BHK HIG Flat in Sector ...,4 DAYS AGO
3,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 75,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
4,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 85,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
5,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 75,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
6,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 70,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
7,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 80,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
8,"SECTOR 43, CHANDIGARH","₹ 2,25,00,000",For Sale HiG (Upper) Flat First Floor 3bhk In ...,TODAY
9,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 85,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
10,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 85,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
11,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 85,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
12,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 75,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
13,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 75,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
14,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 70,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
15,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 70,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
16,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 75,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
17,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 75,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
18,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 70,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
19,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 70,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
20,"SECTOR 38 WEST, CHANDIGARH","₹ 55,00,000",Good location LIG 2 Bedroom set+balcony Flat F...,JUN 07
21,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 1,04,60,000",3BHK+3WR Spacious apartment for sale on airpor...,JUN 04
22,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 70,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
23,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 70,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
24,"SECTOR 31B, CHANDIGARH","₹ 42,00,000",54 Gaj Double Storey House for Sale,TODAY
25,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 85,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
26,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 75,00,000",FLAT FOR SALE-4BHK-3BHK-APARTMENT-PLOT-SHOWROO...,TODAY
27,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 70,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
28,"MANI MAJRA, CHANDIGARH","₹ 10,00,00,000",40 Room HOTEL Next to HOTEL HOMETEL Roorkee on...,TODAY
29,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 71,90,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
30,"NEW CHANDIGARH, CHANDIGARH","₹ 1,18,00,000",Corner Omaxe Gardenia Luxury Flat 1681sqft 3BH...,TODAY
31,"SECTOR 43, CHANDIGARH","₹ 99,95,000",Prelaunch 3BHK Punjab Judges Society Sector 39...,TODAY
32,"SECTOR 25, CHANDIGARH","₹ 1,65,00,000",Omaxe Luxury 3BHK with Servant 0KM from Chandi...,TODAY
33,"SECTOR 50, CHANDIGARH","₹ 2,30,00,000",For Sale Society Flat First Floor 3Bhk In Sect...,TODAY
34,"SECTOR 61, CHANDIGARH","₹ 55,00,000",1BHK Studio Apartment Mohali Walk Sector 62 Fl...,TODAY
35,"SECTOR 22D, CHANDIGARH","₹ 1,05,00,000",Prelaunch Corner 3BHK Flat Opp Park Omaxe Floo...,TODAY
36,"SECTOR 47D, CHANDIGARH","₹ 1,15,00,000",Freehold MIG Ground floor 2bhk Sec 47,TODAY
37,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 70,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
38,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 85,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY
39,"CHANDIGARH AIRPORT AREA, CHANDIGARH","₹ 75,00,000",FLAT FOR SALE-4BHK-3BHK-2BHK-APARTMENT-PLOT-SH...,TODAY

In [31]:
df= pd.DataFrame({'Type':Type})
df

                       Type
0   4 Bds - 4 Ba - 2250 ft2
1   4 Bds - 3 Ba - 2350 ft2
2   2 Bds - 2 Ba - 1900 ft2
3   3 Bds - 3 Ba - 1800 ft2
4   3 Bds - 3 Ba - 1995 ft2
5   3 Bds - 3 Ba - 1850 ft2
6   3 Bds - 3 Ba - 1500 ft2
7   3 Bds - 3 Ba - 2000 ft2
8   3 Bds - 2 Ba - 1500 ft2
9   3 Bds - 3 Ba - 1850 ft2
10  3 Bds - 3 Ba - 1995 ft2
11  3 Bds - 3 Ba - 1995 ft2
12  3 Bds - 3 Ba - 1850 ft2
13  3 Bds - 3 Ba - 1800 ft2
14  3 Bds - 3 Ba - 1700 ft2
15  3 Bds - 3 Ba - 1600 ft2
16  3 Bds - 3 Ba - 1850 ft2
17  3 Bds - 3 Ba - 1850 ft2
18  3 Bds - 3 Ba - 1700 ft2
19  3 Bds - 3 Ba - 1600 ft2
20   2 Bds - 1 Ba - 550 ft2
21  3 Bds - 3 Ba - 1625 ft2
22  3 Bds - 3 Ba - 1600 ft2
23  3 Bds - 3 Ba - 1650 ft2
24   2 Bds - 2 Ba - 500 ft2
25  3 Bds - 3 Ba - 2000 ft2
26  3 Bds - 3 Ba - 1850 ft2
27  3 Bds - 3 Ba - 1600 ft2
28  3 Bds - 3 Ba - 1700 ft2
29  3 Bds - 3 Ba - 1800 ft2
30   2 Bds - 2 Ba - 950 ft2
31  3 Bds - 3 Ba - 1700 ft2
32  3 Bds - 3 Ba - 1900 ft2
33  3 Bds - 3 Ba - 1850 ft2

In [32]:
driver.get( "https://www.olx.in/surat_g4058727/for-sale-houses-apartments_c1725")

In [33]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
Bhk_type =[]
bhk_tags = driver.find_elements(By.XPATH,'//span[@class="_2poNJ"]')
for tag in bhk_tags:
    Bhk_type.append(tag.text)
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [34]:
len(property_Name),len(Type),len(prices),len(years),len(Bhk_type)

(40, 40, 40, 40, 40)

In [35]:
import pandas as pd 
df9 = pd.DataFrame({'Name':property_Name,'Types':Type,'Prices':prices,'BHK':Bhk_type,'Years':years})
df9

,Name,Types,Prices,BHK,Years
0,"VADOD GAM, SURAT",2 Bds - 2 Ba - 1100 ft2,"₹ 17,50,000",2-Bhk Flat 0% Downpayment In Vadod Bhestan Can...,4 DAYS AGO
1,"BHESTAN, SURAT",4 Bds - 3 Ba - 1750 ft2,"₹ 65,11,111",G+2 4bhk villa for Sale,JUN 11
2,"BHESTAN, SURAT",1 Bds - 1 Ba - 657 ft2,"₹ 12,71,000",1BHK FLAT FOR SALE IN BHESTAN,MAY 28
3,"LIMBAYAT TOWN, SURAT",4+ Bds - 1 Ba - 25 ft2,"₹ 50,00,000",dastavej hai,TODAY
4,"DINDOLI, SURAT",2 Bds - 2 Ba - 980 ft2,"₹ 18,87,900",Residential Flat(Dindoli),TODAY
5,"DINDOLI, SURAT",1 Bds - 1 Ba - 615 ft2,"₹ 16,50,000",Apartment for sale,TODAY
6,"DINDOLI, SURAT",1 Bds - 1 Ba - 432 ft2,"₹ 20,51,000","cctv camera , men road ,Sbi bank , G mart,",TODAY
7,"DINDOLI, SURAT",2 Bds - 2 Ba - 925 ft2,"₹ 27,00,000","cc tv camera , garden , gated , security",TODAY
8,"DINDOLI, SURAT",3 Bds - 3 Ba - 1350 ft2,"₹ 43,51,000","maduram , circle, Rcc road , gated community, ...",TODAY
9,"DINDOLI, SURAT",3 Bds - 3 Ba - 1521 ft2,"₹ 46,51,000","Gated community ,garden , Rcc road ,cc tv camra ,",TODAY
10,"DINDOLI, SURAT",2 Bds - 2 Ba - 912 ft2,"₹ 34,51,000","Rcc Road , Cc camera Gated society ,",TODAY
11,"DINDOLI, SURAT",1 Bds - 1 Ba - 540 ft2,"₹ 24,50,000","cc tv camera garden , gated sosayti",TODAY
12,"DINDOLI, SURAT",2 Bds - 2 Ba - 864 ft2,"₹ 31,51,000","cc tv camera gated sosayti ,",TODAY
13,"DINDOLI, SURAT",2 Bds - 2 Ba - 955 ft2,"₹ 16,51,000","cc tv camera garden , gated sosayti ,",TODAY
14,"DINDOLI, SURAT",2 Bds - 2 Ba - 960 ft2,"₹ 26,00,000","Cc tv camera Rcc road , garden , gated sosayti",TODAY
15,"DINDOLI, SURAT",2 Bds - 2 Ba - 960 ft2,"₹ 33,51,000","cc tv camera , garden,rcc road ,",TODAY
16,"DINDOLI, SURAT",1 Bds - 1 Ba - 745 ft2,"₹ 15,00,000","cc tv camera gardan , rcc road ,",TODAY
17,"DINDOLI, SURAT",1 Bds - 1 Ba - 660 ft2,"₹ 11,51,000","cctv camera , gated sosayti security ,rcc road",TODAY
18,"DINDOLI, SURAT",1 Bds - 1 Ba - 648 ft2,"₹ 9,80,000",1-Bhk Flat In Dindoli ( Sai Residency) Kardwa ...,TODAY
19,"BHESTAN, SURAT",2 Bds - 2 Ba - 570 ft2,"₹ 16,00,000",Vraj bhoomi residency bhesan 1bhk flat,TODAY
20,"DINDOLI KAILAS NAGAR, SURAT",2 Bds - 2 Ba - 1133 ft2,"₹ 26,99,999",2 BHK LUXURIOUS LIFESTYLE LIVING,MAY 25
21,"BHESTAN, SURAT",1 Bds - 1 Ba - 542 ft2,"₹ 18,97,000",Residential Flat(Bhestan),YESTERDAY
22,"DEVADH, SURAT",1 Bds - 1 Ba - 738 ft2,"₹ 24,00,000",Full completely flat,YESTERDAY
23,"BHESTAN, SURAT",1 Bds - 1 Ba - 577 ft2,"₹ 10,50,000",1Bhk market price selling,YESTERDAY
24,"DINDOLI, SURAT",2 Bds - 2 Ba - 480 ft2,"₹ 19,00,000",Residential House(Dindoli),YESTERDAY
25,"DELADVA, SURAT",2 Bds - 3 Ba - 450 ft2,"₹ 25,00,000",2500000 negotiable,YESTERDAY
26,"DINDOLI, SURAT",2 Bds - 2 Ba - 912 ft2,"₹ 38,51,000","Gated society , garden , Rcc roda , CC tV came...",YESTERDAY
27,"DINDOLI, SURAT",2 Bds - 2 Ba - 936 ft2,"₹ 26,00,000","CC Tv camera , Gardan ,Rcc road ,",YESTERDAY
28,"PARVAT PATIA GAON, SURAT",3 Bds - 2 Ba - 22 ft2,"₹ 78,00,000",Mahajan Niwas on Sale,YESTERDAY
29,"DINDOLI, SURAT",2 Bds - 2 Ba - 925 ft2,"₹ 27,00,000",2 BHK furnished home for sale,YESTERDAY
30,"DINDOLI, SURAT",3 Bds - 3 Ba - 1680 ft2,"₹ 50,51,000",3bhk Rowhouse for sell in dindoli,2 DAYS AGO
31,"DINDOLI, SURAT",3 Bds - 3 Ba - 1512 ft2,"₹ 51,50,000",3bhk Rowhouse for sell in dindoli,2 DAYS AGO
32,"DINDOLI, SURAT",3 Bds - 3 Ba - 1789 ft2,"₹ 57,00,000",3bhk Rowhouse for sell in dindoli,2 DAYS AGO
33,"DINDOLI, SURAT",4 Bds - 4 Ba - 2550 ft2,"₹ 75,00,000",4bhk Bunglow for sell in dindoli,2 DAYS AGO
34,"DINDOLI, SURAT",3 Bds - 3 Ba - 1596 ft2,"₹ 50,51,000",3bhk Rowhouse for sell in dindoli,2 DAYS AGO
35,"DINDOLI, SURAT",3 Bds - 3 Ba - 1534 ft2,"₹ 51,51,000",3bhk Rowhouse for sell in dindoli,2 DAYS AGO
36,"DINDOLI, SURAT",2 Bds - 2 Ba - 936 ft2,"₹ 37,00,000",2bhk Rowhouse for sell in dindoli,2 DAYS AGO
37,"DINDOLI, SURAT",2 Bds - 2 Ba - 960 ft2,"₹ 38,51,000",2bhk Rowhouse for sell in dindoli,2 DAYS AGO
38,"DINDOLI, SURAT",2 Bds - 2 Ba - 912 ft2,"₹ 35,51,000",2bhk rowhouse for sell in dindoli,2 DAYS AGO
39,"DINDOLI, SURAT",4 Bds - 4 Ba - 1440 ft2,"₹ 51,00,000",4bhk Rowhouse for sell in dindoli,2 DAYS AGO

In [36]:
driver.get( "https://www.olx.in/kolkata_g4157275/for-sale-houses-apartments_c1725")

In [37]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
Bhk_type =[]
bhk_tags = driver.find_elements(By.XPATH,'//span[@class="_2poNJ"]')
for tag in bhk_tags:
    Bhk_type.append(tag.text)
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [38]:
len(property_Name),len(Type),len(prices),len(years),len(Bhk_type)

(40, 40, 40, 40, 40)

In [39]:
import pandas as pd 
df10 = pd.DataFrame({'Name':property_Name,'Types':Type,'Prices':prices,'BHK':Bhk_type,'Years':years})
df10

,Name,Types,Prices,BHK,Years
0,"PARK CIRCUS, KOLKATA",2 Bds - 2 Ba - 650 ft2,"₹ 45,00,000",2BHK FLAT FOR SALE IN PARK CIRCUS NEAR ARSALAN...,JUN 11
1,"PICNIC GARDEN, KOLKATA",2 Bds - 1 Ba - 700 ft2,"₹ 21,00,000",47 kustia road kustia more k upar main road ma...,MAY 27
2,"BELEGHATA, KOLKATA",2 Bds - 1 Ba - 460 ft2,"₹ 12,00,000",Rashmoni Bazar Beleghata 2 BHK affordable Flat,JUN 08
3,"TANGRA, KOLKATA",2 Bds - 2 Ba - 852 ft2,"₹ 35,78,400",2bhk at home@56,TODAY
4,"TANGRA, KOLKATA",2 Bds - 2 Ba - 647 ft2,"₹ 27,17,400",2BHK at Home@56,TODAY
5,"TANGRA, KOLKATA",2 Bds - 2 Ba - 642 ft2,"₹ 26,96,400",2bhk at home@56,TODAY
6,"TANGRA, KOLKATA",1 Bds - 1 Ba - 380 ft2,"₹ 15,96,000",1bhk at home@56,TODAY
7,"TANGRA, KOLKATA",2 Bds - 2 Ba - 605 ft2,"₹ 25,41,000",1BHK at home@56 near Beleghata sales tax,TODAY
8,"TANGRA, KOLKATA",1 Bds - 1 Ba - 400 ft2,"₹ 16,80,000",1bhk at home@56 near palmer bazar,TODAY
9,"TANGRA, KOLKATA",2 Bds - 2 Ba - 670 ft2,"₹ 28,14,000",2bhk at home@56,TODAY
10,"TANGRA, KOLKATA",2 Bds - 2 Ba - 607 ft2,"₹ 25,49,400",2bhk at home@56 near VRL logistics,TODAY
11,"TANGRA, KOLKATA",2 Bds - 2 Ba - 736 ft2,"₹ 30,91,200",2bhk at home@56 near Siddha sky,TODAY
12,"TANGRA, KOLKATA",2 Bds - 2 Ba - 586 ft2,"₹ 23,43,600",2bhk at home@56 near munshi bazar,TODAY
13,"TANGRA, KOLKATA",2 Bds - 2 Ba - 517 ft2,"₹ 21,71,400",2bhk at home@56,TODAY
14,"TANGRA, KOLKATA",2 Bds - 2 Ba - 627 ft2,"₹ 26,33,400",2bhk at home@56,TODAY
15,"TANGRA, KOLKATA",2 Bds - 2 Ba - 736 ft2,"₹ 30,91,200",2bhk at home@56,TODAY
16,"SECTOR 4, BIDHANNAGAR",2 Bds - 1 Ba - 600 ft2,"₹ 20,00,000",Ready & under construction flat for sale appro...,TODAY
17,"BELEGHATA, KOLKATA",2 Bds - 2 Ba - 900 ft2,"₹ 29,70,000",2Bhk at Z Residency Near Ragini Cinema Hall Be...,TODAY
18,"VIP ROAD, KOLKATA",2 Bds - 2 Ba - 787 ft2,"₹ 31,48,000",2BHK at Blue Heights Near Panchavati Complex V...,TODAY
19,"VIP ROAD, KOLKATA",2 Bds - 2 Ba - 845 ft2,"₹ 33,80,000",2BHK at Blue Heights Near Charnock hospital VI...,TODAY
20,"SREEBHUMI, KOLKATA",1 Bds - 1 Ba - 510 ft2,"₹ 32,00,000",Sri Panchanan Apartment,JUN 06
21,"PICNIC GARDEN, KOLKATA",4 Bds - 3 Ba - 1681 ft2,"₹ 1,00,00,000",Atmosphere view near 42 Bus stand,JUN 08
22,"BALLYGUNGE PLACE, KOLKATA",3 Bds - 2 Ba - 1100 ft2,"₹ 90,00,000",3BHK FLAT FOR SALE IN BALLYGUNGE PALM AVENUE,JUN 11
23,"BELEGHATA, KOLKATA",2 Bds - 2 Ba - 674 ft2,"₹ 22,24,200",2BHK at Z Residency Near Beleghata,TODAY
24,"BELEGHATA, KOLKATA",2 Bds - 2 Ba - 576 ft2,"₹ 19,00,800",2BHK at Z Residency Near I D hospital,TODAY
25,"BELEGHATA, KOLKATA",2 Bds - 2 Ba - 771 ft2,"₹ 25,44,300","2BHK at Z Residency Near Building more, CIT Road",TODAY
26,"BELEGHATA, KOLKATA",2 Bds - 2 Ba - 472 ft2,"₹ 15,57,600","2BHK at Z Residency Near Ragini Cimena Hall, B...",TODAY
27,"BELEGHATA, KOLKATA",1 Bds - 1 Ba - 196 ft2,"₹ 6,46,800",1RK at Z Residency Near Jora Mandir Beleghata,TODAY
28,"VIP ROAD, KOLKATA",1 Bds - 1 Ba - 350 ft2,"₹ 11,55,000","1Bhk at Z Residency Near Jora mandir, Beleghata",TODAY
29,"TANGRA, KOLKATA",1 Bds - 1 Ba - 320 ft2,"₹ 13,44,000",1BHK at home@56 Near Palmer Bazar,TODAY
30,"VIP ROAD, KOLKATA",1 Bds - 1 Ba - 522 ft2,"₹ 20,88,000","1BHK at Blue heights Near O2 hotel, VIP Road",TODAY
31,"BELEGHATA, KOLKATA",2 Bds - 2 Ba - 750 ft2,"₹ 24,75,000","2BHK at Z Residency Near Jora Mandir, Beleghata",TODAY
32,"VIP ROAD, KOLKATA",1 Bds - 1 Ba - 460 ft2,"₹ 18,40,000",1BHK Ready to move at Blue Heights Near Domino...,TODAY
33,"VIP ROAD, KOLKATA",1 Bds - 1 Ba - 450 ft2,"₹ 17,10,000",1BHK ready to move at Sky heights near O2 hote...,TODAY
34,"VIP ROAD, KOLKATA",2 Bds - 2 Ba - 845 ft2,"₹ 33,80,000",2BHK at Blue heights near Victoria Hotel VIP Road,TODAY
35,"SHYAM BAZAR AREA, KOLKATA",2 Bds - 2 Ba - 685 ft2,"₹ 42,50,000",Shyambazar area new flat,TODAY
36,"BELEGHATA, KOLKATA",2 Bds - 1 Ba - 700 ft2,"₹ 25,00,000",2 BHK Ready to Move flat for sale in Beliaghat...,TODAY
37,"PICNIC GARDEN, KOLKATA",2 Bds - 2 Ba - 1000 ft2,"₹ 35,00,000",2bhk flat sale in picnic garden. No loan,TODAY
38,"TOPSIA ROAD, KOLKATA",2 Bds - 2 Ba - 841 ft2,"₹ 45,00,000",2BHK flat for sale in Topsia,TODAY
39,"TOPSIA ROAD, KOLKATA",2 Bds - 2 Ba - 1051 ft2,"₹ 65,00,000",2 BHK Apartment for sale in Topsia near Orchid...,TODAY

In [53]:
driver.get( "https://www.olx.in/indore_g4058916/for-sale-houses-apartments_c1725")

In [54]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
Bhk_type =[]
bhk_tags = driver.find_elements(By.XPATH,'//span[@class="_2poNJ"]')
for tag in bhk_tags:
    Bhk_type.append(tag.text)
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [55]:
len(property_Name),len(Type),len(prices),len(years),len(Bhk_type)

(40, 40, 40, 40, 40)

In [56]:
import pandas as pd 
df11 = pd.DataFrame({'Name':property_Name,'Types':Type,'Prices':prices,'BHK':Bhk_type,'Years':years})
df11

,Name,Types,Prices,BHK,Years
0,"KANADIYA ROAD, INDORE",3 Bds - 4 Ba - 600 ft2,"₹ 65,00,000",Luxurious new bunglow available at gayatri par...,TODAY
1,"NIPANIA, INDORE",3 Bds - 3 Ba - 1750 ft2,"₹ 95,00,000","West face,duplax 1750sqf construction 3bhk,for...",JUN 10
2,"NIPANIA, INDORE",3 Bds - 4 Ba - 2000 ft2,"₹ 1,20,00,000",NEW CONSTRUCTION 2100 SF DUPLEX AT NIPANIA,JUN 10
3,"BAIRAATHY COLONY, INDORE",2 Bds - 1 Ba - 2400 ft2,"₹ 10,80,000",धमाका ऑफर केवल उज्जैन में फार्म हाउस खरीदने का...,TODAY
4,"11 BANGLOW COLONY, INDORE",2 Bds - 1 Ba - 2400 ft2,"₹ 10,80,000",उज्जैन में फार्म हाउस कालोनी 2400 fq feet per,TODAY
5,"BOMBAY BAZAAR, INDORE",3 Bds - 2 Ba - 1500 ft2,"₹ 17,00,000",INDORE 480 property Left Real Service HARRY UP,TODAY
6,"MAHALAXMI NAGAR, INDORE",2 Bds - 2 Ba - 1585 ft2,"₹ 96,00,000",PREMIUM 2 BHK FLAT IN BCM,TODAY
7,"MAHALAXMI NAGAR, INDORE",3 Bds - 2 Ba - 1550 ft2,"₹ 92,50,000",2.5 BHK Flat in Luxury Apartment,TODAY
8,"ALI COLONY, INDORE",2 Bds - 2 Ba - 450 ft2,"₹ 14,40,000",Bahut Sundar projuct lunching offer,TODAY
9,"ALA PURA, INDORE",2 Bds - 3 Ba - 450 ft2,"₹ 14,40,000",Bahut Sundar projuct me farms House sell karna...,TODAY
10,"AKHAND NAGAR SECTOR A, INDORE",2 Bds - 2 Ba - 425 ft2,"₹ 14,40,000",Abhi nahi to kabhi nahi se sasta kahi bahi nahi,TODAY
11,"AGRASEN NAGAR, INDORE",2 Bds - 2 Ba - 525 ft2,"₹ 14,40,000",Ujjain Nagar Nigam Sima se matr 5 mint ki duri...,TODAY
12,"ADRESH INDRA NAGAR, INDORE",2 Bds - 2 Ba - 450 ft2,"₹ 14,40,000",Ujjain se Nagda neemach mandsaur road par,TODAY
13,"MAHALAXMI NAGAR, INDORE",4+ Bds - 4+ Ba - 3300 ft2,"₹ 1,35,00,000","Individual house at Tulsi nagar, sector B, mai...",TODAY
14,"ADITYA NAGAR, INDORE",2 Bds - 2 Ba - 450 ft2,"₹ 14,40,000",Ujjain me farms House sell karna hai,TODAY
15,"ADARSH MOULIC NAGAR, INDORE",2 Bds - 2 Ba - 450 ft2,"₹ 14,40,000",Ujjain mahakal Mandir se matr 10 mint ki duri par,TODAY
16,"AAHILYAPURA GORAKUND, INDORE",2 Bds - 2 Ba - 450 ft2,"₹ 14,40,000",Ujjain se Nagda neemach mandsaur road par,TODAY
17,"AAHILYAPURA, INDORE",2 Bds - 2 Ba - 450 ft2,"₹ 14,40,000",Ujjain mahakal Mandir se matr 10 mint ki duri par,TODAY
18,"AB BYPASS ROAD, INDORE",2 Bds - 2 Ba - 500 ft2,"₹ 14,40,000",Ujjain se Indore new outar ring road par new p...,TODAY
19,"11 BANGLOW COLONY, INDORE",2 Bds - 2 Ba - 450 ft2,"₹ 14,40,000",Ujjain se new outar ring road par,TODAY
20,"SHRI NAGAR, INDORE",1 Bds - 1 Ba - 410 ft2,"₹ 21,00,000",1bhk flat for sale shri nagar main,JUN 03
21,"PATNIPURA, INDORE",2 Bds - 2 Ba - 1000 ft2,"₹ 26,50,000",2 BHK Flat for sale - Near Vijay Nagar,MAY 31
22,"MAHALAXMI NAGAR, INDORE",3 Bds - 3 Ba - 2100 ft2,"₹ 1,45,00,000",New Bangalow for sale Mahalaxmi Nagar near Bom...,MAY 25
23,"BENGALI SQUARE, INDORE",2 Bds - 2 Ba - 760 ft2,"₹ 40,50,000",2 bhk garden facing row house for sale near Be...,TODAY
24,"OLD PALASIYA, INDORE",2 Bds - 2 Ba - 1127 ft2,"₹ 80,00,000",2 BHK Furnished flat for sale @ Old Palasia,TODAY
25,"NEW PALASIYA, INDORE",3 Bds - 3 Ba - 1500 ft2,"₹ 65,00,000",3 BHK Duplex Flat @ New Palasia,TODAY
26,"PARDESIPURA, INDORE",3 Bds - 3 Ba - 1260 ft2,"₹ 23,00,000",House for sell,TODAY
27,"MR 10 ROAD, INDORE",2 Bds - 2 Ba - 1300 ft2,"₹ 36,10,000",Close to school and market metro station,TODAY
28,"NEW PALASIYA, INDORE",3 Bds - 3 Ba - 2300 ft2,"₹ 2,05,00,000",3 BHK New Flat for sale @ New Palasia,TODAY
29,"NIPANIA, INDORE",3 Bds - 3 Ba - 2655 ft2,"₹ 2,05,00,000",3 BHK Flat for sale @ Nipania,TODAY
30,"RACE COURSE ROAD, INDORE",3 Bds - 3 Ba - 2420 ft2,"₹ 1,90,00,000",3 BHK Furnished Flat for Sale @ Race Course Road,TODAY
31,"M.G ROAD, INDORE",3 Bds - 3 Ba - 2412 ft2,"₹ 1,70,00,000",Luxury Furnished 3 BHK Flat for Sale @ MG Road,TODAY
32,"SHRI NAGAR, INDORE",1 Bds - 1 Ba - 8500 ft2,"₹ 4,21,00,000",1bhk building near lig link road,TODAY
33,"KANADIYA ROAD, INDORE",3 Bds - 2 Ba - 1400 ft2,"₹ 85,00,000",15 Year Old construction,TODAY
34,"BENGALI SQUARE, INDORE",2 Bds - 2 Ba - 1098 ft2,"₹ 47,50,000",2 bhk flat for sale @ Bengali Square,TODAY
35,"BENGALI SQUARE, INDORE",2 Bds - 2 Ba - 970 ft2,"₹ 43,00,000",2 BHK Flat for sale @ Bengali Square,TODAY
36,"VIJAY NAGAR, INDORE",1 Bds - 1 Ba - 1000 ft2,"₹ 13,000",2 bhk ground floor house vijay nagar,TODAY
37,"BENGALI SQUARE, INDORE",4 Bds - 4 Ba - 3000 ft2,"₹ 1,95,00,000",House for sale @ Goyal Nagar,TODAY
38,"ASHOK NAGAR, INDORE",1 Bds - 1 Ba - 520 ft2,"₹ 34,51,000",Good corner makan 10×50,TODAY
39,"CHHOTI GWALTOL, INDORE",1 Bds - 1 Ba - 4800 ft2,"₹ 14,40,000",श्री चित्रगुप्त लोक निर्माण उज्जैन में फार्म ह...,TODAY

In [6]:
driver.get( "https://www.olx.in/ahmedabad_g4058677/for-sale-houses-apartments_c1725")

In [7]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
Bhk_type =[]
bhk_tags = driver.find_elements(By.XPATH,'//span[@class="_2poNJ"]')
for tag in bhk_tags:
    Bhk_type.append(tag.text)
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [8]:
len(property_Name),len(Type),len(prices),len(years),len(Bhk_type)

(40, 39, 40, 40, 40)

In [10]:
import pandas as pd 
df12 = pd.DataFrame({'Name':property_Name,'Prices':prices,'BHK':Bhk_type,'Years':years})
df12

,Name,Prices,BHK,Years
0,"RANIP, AHMEDABAD","₹ 59,00,000",Road Touch 2 Floor Row House. Use For Commerci...,MAY 31
1,"RANIP, AHMEDABAD","₹ 1,60,00,000",4 bhk banglows for sale,MAY 27
2,"MEGANI NAGAR, AHMEDABAD","₹ 75,00,000","58, saibaba society",7 DAYS AGO
3,"PANJARA POL, AHMEDABAD","₹ 1,43,77,500",3 BHK @ Shivalik Harmony,TODAY
4,"PANJARA POL, AHMEDABAD","₹ 1,47,60,900",3 Bhk @ University Road,TODAY
5,"SHAHPUR, AHMEDABAD","₹ 7,00,000",Ground floor only seven lakh,TODAY
6,"GULABAI TEKRA, AHMEDABAD","₹ 1,35,00,000",Available 3BHK Furnished Flat Sale In Gulbai T...,TODAY
7,"JAMALPUR, AHMEDABAD","₹ 25,00,000",1 bhk flet sell,TODAY
8,"PALDI, AHMEDABAD","₹ 95,00,000",3BHK premium Flat For Sell,TODAY
9,"AMBAVADI, AHMEDABAD","₹ 75,00,000",2BHK Premium Flat For Sell,TODAY
10,"PALDI, AHMEDABAD","₹ 71,00,000",3BHK Flat For Sell,TODAY
11,"KHOKHRA, AHMEDABAD","₹ 44,00,000",Fully furnished 3 bhk flat in khokhra Area...,TODAY
12,"BAPU NAGAR, AHMEDABAD","₹ 7,50,000",Hirawadi road Bapunagar.Ahemdabad,YESTERDAY
13,"RANIP, AHMEDABAD","₹ 20,50,000",Best location in ranip,YESTERDAY
14,"KHOKHRA, AHMEDABAD","₹ 26,50,000",2bhak flat 6th flore,YESTERDAY
15,"KESHAV NAGAR, AHMEDABAD","₹ 5,00,00,000",45 keshavnagar soc opp coman hall subhashbridg...,YESTERDAY
16,"RANIP, AHMEDABAD","₹ 65,00,000",3 BHK FLAT FOR SALE BIG BALCONY FIRST FLOOR RANIP,YESTERDAY
17,"MITHAKHALI VILLAGE, AHMEDABAD","₹ 1,22,52,000",Residential Flat(Changispur),YESTERDAY
18,"RANIP, AHMEDABAD","₹ 10,500",8500 rent and 500 maintenance of society,YESTERDAY
19,"NARANPURA, AHMEDABAD","₹ 1,25,00,000",3Bhk Ground Floor Flat on sale at Naranpura,YESTERDAY
20,"ELLIS BRIDGE, AHMEDABAD","₹ 2,29,50,000",Fully Furnushed 3 bhk luxurious Apartment For ...,MAY 26
21,"NARANPURA VILLAGE, AHMEDABAD","₹ 1,85,00,000",5 BH2k Independent Fully Furnished House for Sale,JUN 06
22,"USMANPURA, AHMEDABAD","₹ 70,00,000",Luxurious Fully Furnished 2BHK for Sale,APR 03
23,"RANIP, AHMEDABAD","₹ 2,25,00,000",350 yard Plot Tenamanet for Rent at Ranip,YESTERDAY
24,"AMBAVADI, AHMEDABAD","₹ 2,50,00,000",4 BHK Samartheshwar Flat Apartment For Sell in...,YESTERDAY
25,"BAPU NAGAR, AHMEDABAD","₹ 70,00,000",SELL HOUSE SOCIETY,3 DAYS AGO
26,"AMBAVADI, AHMEDABAD","₹ 75,00,000",4BHK Flat For Sell,3 DAYS AGO
27,"NAVRANGPURA, AHMEDABAD","₹ 1,15,00,000",3BHK Flat For Sell Big Space Home,3 DAYS AGO
28,"RANIP, AHMEDABAD","₹ 80,00,000",4BHK ROW HOUSE FOR SALE Ranip 85,3 DAYS AGO
29,"NIRNAY NAGAR, AHMEDABAD","₹ 35,00,000",1 BHK Fully Furnished Flat On Sale at Nirnay n...,3 DAYS AGO
30,"USMANPURA, AHMEDABAD","₹ 1,10,00,000",170 Vaar 3BHK SemiFurnished Flat Sell Usmanpur...,3 DAYS AGO
31,"USMANPURA, AHMEDABAD","₹ 1,05,00,000",170 Vaar 3BHK SemiFurnished Flat Sell Usmanpur...,3 DAYS AGO
32,"KARMCHARI NAGAR, AHMEDABAD","₹ 50,00,000",House on sell,4 DAYS AGO
33,"DANI LIMDA, AHMEDABAD","₹ 45,00,000",Triplex house,4 DAYS AGO
34,"PALDI, AHMEDABAD","₹ 55,00,000",2BHK Yash Pinnacle For Sell in Paldi,4 DAYS AGO
35,"MEMNAGAR, AHMEDABAD","₹ 2,35,00,000",4 bhk Bunglow on sale at Vaibhav bunglow Ready...,4 DAYS AGO
36,"RANIP, AHMEDABAD","₹ 65,00,000",3 bhk flat for sale prime location bakeri sarv...,4 DAYS AGO
37,"NAVRANGPURA, AHMEDABAD","₹ 80,00,000",3 BHK Flat On Sell at Navrangpura,4 DAYS AGO
38,"NARANPURA, AHMEDABAD","₹ 75,00,000","Fully furnished flat, well maintain soc.,",5 DAYS AGO
39,"DIGVIJAY NAGAR, AHMEDABAD","₹ 20,000",2bhk for rent,5 DAYS AGO

In [11]:
driver.get( "https://www.olx.in/ujjain_g4058947/for-sale-houses-apartments_c1725")

In [12]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
Bhk_type =[]
bhk_tags = driver.find_elements(By.XPATH,'//span[@class="_2poNJ"]')
for tag in bhk_tags:
    Bhk_type.append(tag.text)
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [13]:
len(property_Name),len(Type),len(prices),len(years),len(Bhk_type)

(40, 40, 40, 40, 40)

In [14]:
import pandas as pd 
df13= pd.DataFrame({'Name':property_Name,'Prices':prices,'BHK':Bhk_type,'Years':years})
df13

,Name,Prices,BHK,Years
0,"NANDKHERA, UJJAIN","₹ 35,00,000","FOR SALE 20x35 ,Tirupati Dremas,Ready to move",JUN 11
1,"NANDKHERA, UJJAIN","₹ 38,00,000",Residential house,5 DAYS AGO
2,"NANDKHERA, UJJAIN","₹ 23,51,000","1bhk, 2bhk house available near by nanakheda",7 DAYS AGO
3,"PISHACHA MOCHAN TEERTHA, UJJAIN","₹ 14,40,000",सुनहरा मौका फार्म हाउस खरीदे एक पर एक फ्री,TODAY
4,"NANDKHERA, UJJAIN","₹ 50,00,000",New Home with good construction,TODAY
5,"ADARSH NAGAR, UJJAIN","₹ 10,80,000",उज्जैन में फार्म हाउस खरीदे 2400 स्क्वायर फीट पर,TODAY
6,"KAMAL COLONY 2, UJJAIN","₹ 14,40,000",बाबा महाकाल कि नगरी उज्जैन में फार्म हाउस का आ...,TODAY
7,"CHAKRA TEERTHA GHAT, UJJAIN","₹ 14,40,000",उज्जैन वालों के लिए बेस्ट ऑफर मात्र 14.40000हज...,TODAY
8,"NIMANWAS, UJJAIN","₹ 14,40,000",बाबा महाकाल कि नगरी उज्जैन में फार्म हाउस खरीद...,TODAY
9,"NANDKHERA, UJJAIN","₹ 14,40,000",जो करे अपने बीबी बच्चो से Piyar Jo कैसे करे फा...,TODAY
10,"MALANWASA, UJJAIN","₹ 26,00,000",I have another house gardan face,YESTERDAY
11,"MOHAN NAGAR, UJJAIN","₹ 33,00,000",उज्जैन के सभी कॉलोनी में,YESTERDAY
12,"SURAJ NAGAR COLONY, UJJAIN","₹ 30,00,000",अंबर कॉलोनी,YESTERDAY
13,"GOYALA KHURD, UJJAIN","₹ 60,00,000",A good condition home for sale,3 DAYS AGO
14,"VASANT VIHAR COLONY, UJJAIN","₹ 44,00,000",VASANT VIHAR BUDGET HOUSE,3 DAYS AGO
15,"SANDIPANI NAGAR, UJJAIN","₹ 23,99,800",Residential Flat(Nazar Ali Marg),4 DAYS AGO
16,"SETHI NAGAR, UJJAIN","₹ 25,00,000",Independent house,4 DAYS AGO
17,"CHATURVIEWHA, UJJAIN","₹ 25,00,000",Arjent sell hom Dabal manjul Alon siti Adi gad...,5 DAYS AGO
18,"ADVALPURA, UJJAIN","₹ 40,00,000",House which is ready to move in position.,6 DAYS AGO
19,"SANDIPANI NAGAR, UJJAIN","₹ 18,00,000",Urgent sell only,6 DAYS AGO
20,"KALLCHIPURA, UJJAIN","₹ 35,00,000",Alonce city Rd gardi madical college ke pass,6 DAYS AGO
21,"FREE GANJ, UJJAIN","₹ 1,25,00,000",कमर्शियल दुकान व प्लॉट,6 DAYS AGO
22,"VIKRAMADITYA CLOTH MARKET, UJJAIN","₹ 51,00,000",Mahesh nager,JUN 13
23,"SANDIPANI NAGAR, UJJAIN","₹ 30,00,000",House For Sale,JUN 13
24,"RAJENDRA NAGAR, UJJAIN","₹ 38,00,000",Sell my home Indra Nagar 20x30,JUN 12
25,"RAJENDRA NAGAR, UJJAIN","₹ 30,00,000","30 lakh me makan bechna hai, top condition, ac...",JUN 12
26,"NANDKHERA, UJJAIN","₹ 32,50,000","FOR SALE 15*50, TIRUPATI DREAMS, READY TO MOVE",JUN 12
27,"ADARSH NAGAR, UJJAIN","₹ 52,00,000",Maha mangle city ujjain,JUN 11
28,"GOYALA KHURD, UJJAIN","₹ 60,00,000",Home for sale,JUN 09
29,"PANDIAKHERI, UJJAIN","₹ 16,51,000",This is my own house this is good location nea...,JUN 09
30,"SUDAMA NAGAR, UJJAIN","₹ 17,50,000",House for sell,JUN 08
31,"ADARSH NAGAR, UJJAIN","₹ 25,00,000",Sell for house 11x50 in Anjushree parisar,JUN 07
32,"KESHAV NAGAR, UJJAIN","₹ 75,00,000",Manchhaman Ganesh Nagar,JUN 07
33,"FREE GANJ, UJJAIN","₹ 18,00,000",House for sale,JUN 07
34,"VASANT VIHAR COLONY, UJJAIN","₹ 1,40,00,000",VASANT VIHAR BUNGALOW HOUSE,JUN 05
35,"KANIPURA, UJJAIN","₹ 1,60,00,000",Commercial+residental with ruming medical stor...,JUN 04
36,"ADARSH NAGAR, UJJAIN","₹ 97,50,000",Independent house for sell in Ujjain,JUN 02
37,"MAKSHI ROAD INDUSTRIAL AREA, UJJAIN","₹ 7,50,000","750000/- se makan shuru,90%loan hojayga,sabhi ...",JUN 02
38,"NAGAR KOT KI RANI, UJJAIN","₹ 15,00,000",Nagarkot makan bechna hai,JUN 02
39,"PANDIAKHERI, UJJAIN","₹ 15,50,000",मक्सी रोड पंवासा उज्जैन मकान के 500 मी बाद ही ...,JUN 02

In [31]:
driver.get( "https://www.olx.in/dehli_g5440113/for-sale-houses-apartments_c1725")

In [32]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
Bhk_type =[]
bhk_tags = driver.find_elements(By.XPATH,'//span[@class="_2poNJ"]')
for tag in bhk_tags:
    Bhk_type.append(tag.text)
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [33]:
len(property_Name),len(Type),len(prices),len(years),len(Bhk_type)

(40, 40, 40, 40, 40)

In [34]:
import pandas as pd 
df14= pd.DataFrame({'Name':property_Name,'Prices':prices,'Type':Type,'BHK':Bhk_type,'Years':years})
df14

,Name,Prices,Type,BHK,Years
0,"KAMLA NAGAR, KALKA","₹ 99,00,000",4+ Bds - 4 Ba - 2070 ft2,Beautiful house. Need urgent. Call only requir...,5 DAYS AGO
1,"HOUSING BOARD COLONY, KALKA","₹ 42,00,000",4 Bds - 2 Ba - 1000 ft2,"4BHK MIG, HOUSE FOR SALE HOUSING BOARD COLONY ...",6 DAYS AGO
2,"RAILWAY COLONY, KALKA","₹ 35,00,000",2 Bds - 1 Ba - 1000 ft2,2biswa plot for sale in kalka,JUN 10
3,"TAKSAL, PARWANOO","₹ 18,00,000",4 Bds - 1 Ba - 1850 ft2,"House for sale ,, at taksaal parwano",JUN 09
4,"BITNA, PINJORE","₹ 22,00,000",2 Bds - 1 Ba - 800 ft2,Well maintained house,JUN 04
5,"KAMLA NAGAR, KALKA","₹ 55,00,000",3 Bds - 2 Ba - 1150 ft2,Selling 118 gaj house near sai mandir,JUN 01
6,"KURARI MOHALLA, KALKA","₹ 30,00,000",4+ Bds - 3 Ba - 700 ft2,Independent house for sale,MAY 28
7,"BITNA, PINJORE","₹ 75,00,000",2 Bds - 2 Ba - 1500 ft2,"2.5 biswa,& 5 biswa new construction",MAY 27
8,"BITNA, PINJORE","₹ 36,00,000",2 Bds - 2 Ba - 900 ft2,"House for sale 100 gaz , bitna road, shiv colo...",MAY 26
9,"AMRAVATI ENCLAVE, PINJORE","₹ 1,55,00,000",3 Bds - 3 Ba - 1575 ft2,DLF - Valley (ground floor apartment),YESTERDAY
10,"RATPUR COLONY, KALKA","₹ 20,00,000",2 Bds - 1 Ba - 600 ft2,Ratpur Colony,6 DAYS AGO
11,"CHAUNA CHOWK, PINJORE","₹ 53,00,000",4 Bds - 3 Ba - 2800 ft2,300 gaj house,6 DAYS AGO
12,"GARKHAL, KASAULI","₹ 58,00,000",2 Bds - 2 Ba - 1100 ft2,2bhk cottage in Kasauli 2.5kms from Baikunth R...,JUN 12
13,"DEHWARI, KASAULI","₹ 21,50,000",1 Bds - 1 Ba - 54 ft2,1 bhk fully furnished flat,JUN 11
14,"RATPUR COLONY, KALKA","₹ 25,00,000",2 Bds - 1 Ba - 675 ft2,Quality Home New Ratpur Colony Pinjore,JUN 09
15,"GHATIWALA, PINJORE","₹ 48,50,000",4+ Bds - 3 Ba - 1350 ft2,URGENT SALE,JUN 08
16,"PINJORE CHOWK, PINJORE","₹ 36,00,000",2 Bds - 2 Ba - 900 ft2,"House for sale 100 Gaz ,Pinjore ,Bitna Road,Sh...",JUN 06
17,"GHATIWALA, PINJORE","₹ 55,00,000",2 Bds - 2 Ba - 1350 ft2,1 floor+ 2 floor office galss and aluminium ki,JUN 06
18,"RATHPUR COLONY, PINJORE","₹ 58,00,000",4 Bds - 4 Ba - 1500 ft2,4 bhk house for sale,JUN 03
19,"CHAUNA CHOWK, PINJORE","₹ 27,00,000",4 Bds - 4 Ba - 696 ft2,House for sale !!!,JUN 02
20,"RATHPUR COLONY, PINJORE","₹ 35,00,000",4 Bds - 2 Ba - 1350 ft2,House for sale,JUN 01
21,"RATHPUR COLONY, PINJORE","₹ 75,00,000",3 Bds - 2 Ba - 30 ft2,150 gaj area,MAY 29
22,"CHAUNA CHOWK, PINJORE","₹ 75,00,000",4+ Bds - 4+ Ba - 2025 ft2,"4 story 10 rooms, 7 bathrooms, 1.8 lakh rent i...",MAY 26
23,"GHATIWALA, PINJORE","₹ 36,50,000",3 Bds - 2 Ba - 1400 ft2,2 biswa corner house for sale in dharampur colony,MAY 22
24,"PINJORE CHOWK, PINJORE","₹ 24,00,000",2 Bds - 2 Ba - 750 ft2,1.75 bisva house for sale in pinjore vishkarma...,APR 17
25,"GHATIWALA, PINJORE","₹ 25,00,000",4+ Bds - 4+ Ba - 1000 ft2,HOUSE FOR SALE IN DHARAMPUR COLONY PINJORE,APR 14
26,"PINJORE CHOWK, PINJORE","₹ 64,99,999",4 Bds - 4 Ba - 2700 ft2,Kothi 300 sqyd =12 merla for sale at dharampur...,APR 11
27,"TAGRA KALI RAM, KALKA","₹ 65,00,000",2 Bds - 2 Ba - 1780 ft2,House for sale in Peaceful country side Nagal ...,MAR 28
28,"BASDEVPURA 151, PINJORE","₹ 35,50,000",2 Bds - 1 Ba - 150 ft2,Two Side open house well located main baadi hi...,FEB 26
29,"PINJORE CHOWK, PINJORE","₹ 60,00,000",2 Bds - 2 Ba - 1375 ft2,6 Marla[150 gaj] house in Abdullapur Colony Pi...,FEB 22
30,"PINJORE CHOWK, PINJORE","₹ 25,00,000",2 Bds - 1 Ba - 00 ft2,Sale house in pinjore vishwakarma colony,FEB 19
31,"RATHPUR COLONY, PINJORE","₹ 97,00,000",4+ Bds - 4+ Ba - 5600 ft2,New house.,JAN 25
32,"CHHATIYAN, KASAULI","₹ 70,00,000",4+ Bds - 4+ Ba - 1111 ft2,House in Jharmajri Baddi,NOV 24
33,"CHANDIGARH ROAD, LUDHIANA","₹ 23,00,000",2 Bds - 2 Ba - 1079 ft2,"Stylish 2nd Floor Apt on Chandigarh Rd, Ludhia...",JUN 03
34,"BADDI, HIMACHAL PRADESH","₹ 12,90,000",3 Bds - 1 Ba - 1000 ft2,3 bedroom baddi,JUN 05
35,"KHALI, DAGSHAI","₹ 2,00,00,000",4+ Bds - 4+ Ba - 7000 ft2,Tiranga house near kheel ka mor kasauli 4 stor...,TODAY
36,"MDC SECTOR 4, PANCHKULA","₹ 58,00,000",2 Bds - 2 Ba - 840 ft2,Flat for Sale,TODAY
37,"MDC SECTOR 4, PANCHKULA","₹ 98,00,000",4 Bds - 3 Ba - 1500 ft2,Flat for sale,TODAY
38,"MDC SECTOR 4, PANCHKULA","₹ 70,50,000",2 Bds - 2 Ba - 1000 ft2,2BHK Flat for Sale,TODAY
39,"MDC SECTOR 4, PANCHKULA","₹ 70,50,000",3 Bds - 3 Ba - 1500 ft2,Flat for Sale,TODAY

In [36]:
driver.get( "https://www.olx.in/en-in/lucknow_g4059306/for-sale-houses-apartments_c1725")

In [42]:
property_Name = []
propertie_tags = driver.find_elements(By.XPATH, '//span[@class="_2VQu4"]')
for tag in propertie_tags:
    property_Name.append(tag.text)
    
    
Type = []
type_tags = driver.find_elements(By.XPATH, '//span[@class="YBbhy"]')
for tag in type_tags:
    Type.append(tag.text)
    
prices=[]
price_tags = driver.find_elements(By.XPATH,'//span[@class="_2Ks63"]')
for tag in price_tags:
    prices.append(tag.text)
    
Bhk_type =[]
bhk_tags = driver.find_elements(By.XPATH,'//span[@class="_2poNJ"]')
for tag in bhk_tags:
    Bhk_type.append(tag.text)
    
years=[]
year_tags = driver.find_elements(By.XPATH, '//span[@class="_2jcGx"]')
for tag in year_tags:
    years.append(tag.text)

In [45]:
len(property_Name),len(prices),len(years),len(Bhk_type),len(Type)

(40, 40, 40, 40, 32)

In [46]:
import pandas as pd 
df15= pd.DataFrame({'Name':property_Name,'Prices':prices,'BHK':Bhk_type,'Years':years})
df15

,Name,Prices,BHK,Years
0,"VIPUL KHAND 3, LUCKNOW","₹ 1,65,00,000",House sell,MAY 26
1,"CLAY SQUARE, LUCKNOW","₹ 55,00,000",3BHK apartment in city centre.,MAY 23
2,"INDIRA NAGAR, LUCKNOW","₹ 70,00,000",Premium villa in gated society,MAY 30
3,"LALABAGH, LUCKNOW","₹ 24,50,000",House for sale in buddheshwar Lalabag prime lo...,TODAY
4,"INDIRA NAGAR, LUCKNOW","₹ 80,00,000",Rajiv nagar Indira nagar lko,TODAY
5,"INDIRA NAGAR, LUCKNOW","₹ 32,00,000",Munsipulia Indira nagar lko,TODAY
6,"INDIRA NAGAR, LUCKNOW","₹ 75,00,000","A, square enterprises",TODAY
7,"INDIRA NAGAR, LUCKNOW","₹ 98,00,000",Manas City Indira nagar,TODAY
8,"INDIRA NAGAR, LUCKNOW","₹ 72,00,000",Gated society,TODAY
9,"PANDEY TOLA VILLAGE, LUCKNOW","₹ 23,00,000",Good and safe location,TODAY
10,"NISHATGANJ, LUCKNOW","₹ 2,00,00,000",House on Sale,TODAY
11,"SHAKTI NAGAR, LUCKNOW","₹ 60,00,000",Fully developed area for family,TODAY
12,"INDIRA NAGAR, LUCKNOW","₹ 1,45,00,000",1200 Sqft Avas vikas Comercial House for sale ...,TODAY
13,"SHAKTI NAGAR, LUCKNOW","₹ 60,00,000",Fully developed area house for your family,TODAY
14,"CHOWK, LUCKNOW","₹ 40,00,000",Urgent sale please come fast,TODAY
15,"NAKKHAS, LUCKNOW","₹ 18,50,000","Prime location of Old lucknow , Nakkhas",TODAY
16,"INDIRA NAGAR, LUCKNOW","₹ 42,00,000",3bhk duplex available near munshipulia,TODAY
17,"FATEHGANJ, LUCKNOW","₹ 70,00,000",2 BHK Independent House for Sale in sarosa bha...,TODAY
18,"CHARBAGH RAILWAY STATION, LUCKNOW","₹ 80,00,000","Fully Furnished, Ready to Move in.",TODAY
19,"CHOWK, LUCKNOW","₹ 1,30,00,000","House for sale in Peer Bukhara Colony, Chowk, ...",YESTERDAY
20,"INDIRA NAGAR, LUCKNOW","₹ 1,40,00,000",Arjent 2200 sqft 2.5 manjil villa For sale Ind...,6 DAYS AGO
21,"INDIRA NAGAR, LUCKNOW","₹ 65,00,000",3BHK SOUTH FACING 1050SQFT DOUBLE STORY INDIRA...,MAY 25
22,"THE MALL AVENUE, LUCKNOW","₹ 2,75,00,000",Walking distance from Annexie and vidhansabha,7 DAYS AGO
23,"INDIRA NAGAR, LUCKNOW","₹ 48,00,000",Flat 2 bedroom drawing dining 2 toilet & 2 bal...,YESTERDAY
24,"ALIGANJ, LUCKNOW","₹ 21,00,000","Duplex House, Prime Location",YESTERDAY
25,"INDIRA NAGAR, LUCKNOW","₹ 78,00,000",House triple story plot area 652 sqft cov 2000...,YESTERDAY
26,"HAZRATGANJ, LUCKNOW","₹ 40,00,000",रिंग रोड से लगा हुआ कमर्शियल प्लाट ले खुरदही क...,YESTERDAY
27,"OLPHERTS LINES, LUCKNOW","₹ 25,00,000",किसान पथ पर कमर्शियल और रेजिडेंशियल प्लॉट ले L...,YESTERDAY
28,"OLPHERTS LINES, LUCKNOW","₹ 40,00,000",कमर्शियल प्लाट खरीदे रिंग रोड सर्विस लाइन से ल...,YESTERDAY
29,"HAZRATGANJ, LUCKNOW","₹ 95,00,000",3 bhk Flat for sale at very Prime location in ...,YESTERDAY
30,"KHADRA, LUCKNOW","₹ 57,00,000",House for sale,YESTERDAY
31,"HAZRATGANJ, LUCKNOW","₹ 84,00,000",2BHK Flat for sale on first floor in gulmohar ...,YESTERDAY
32,"HAZRATGANJ, LUCKNOW","₹ 90,00,000",2000Sq.Ft Semi Furnished 3BHK Flat in Kasmanda...,YESTERDAY
33,"KHARERTA, LUCKNOW","₹ 20,00,000",House sell,2 DAYS AGO
34,"KAISER BAGH, LUCKNOW","₹ 54,60,000",FI construction,2 DAYS AGO
35,"LUCKNOW CANTONMENT, UTTAR PRADESH","₹ 15,00,000",लखनऊ की सबसे डेवलपमेंट प्रोजेक्ट में मात्र 15 ...,2 DAYS AGO
36,"LUCKNOW CANTONMENT, UTTAR PRADESH","₹ 5,00,000",हाई कोर्ट से मात्र 30 मिनट की दूरी पर 5 लाख मे...,2 DAYS AGO
37,"LUCKNOW CANTONMENT, UTTAR PRADESH","₹ 4,99,000",फैजाबाद रोड के सबसे डेवलपमेंट प्रोजेक्ट में इन...,2 DAYS AGO
38,"LUCKNOW CANTONMENT, UTTAR PRADESH","₹ 22,00,000",गोमती नगर में मात्र 22 लाख में प्लॉट खरीदे 100...,2 DAYS AGO
39,"KAILASHPURI, LUCKNOW","₹ 28,00,000",***Nearby from Charbagh Railway Station & Cant...,3 DAYS AGO

In [ ]:
data_frames = [df1, df2, df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15]

combined_df = pd.concat(data_frames, ignore_index=True)
print(combined_df)

In [93]:
combined_df.to_csv('buy home.csv', index=False)